@charset "utf-8";

.template-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  overflow: hidden;
}

.template-title {
  font-size: 2.4rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 2rem 0;
  border-bottom: 2px solid #eee;
}

.template-asset {
  position: relative;
}

.template-asset>.row {
  margin-top: 5rem;
}

[data-asset="add"] {
  display: none;
}