<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="imagetoolbar" content="no">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <title>요소</title>
  <!-- style -->
  <link rel="stylesheet" href="./views/view.css">
  <link rel="stylesheet" href="./resources/template.css">
  <!-- //style -->
</head>

<body>
  <!-- container -->
  <div class="template-container">
    <h1 class="template-title"></h1>
    <div class="template-asset">
      <div class="row">
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="accordset accordset-arrow">
                <div class="accordset-item">
                  <div class="accordset-header">
                    <button class="accordset-button btn" type="button">
                      템플릿하우스는 HTML 코딩을 가장 쉽고 빠르게 작업할 수 있습니다.
                    </button>
                  </div>
                  <div class="accordset-body">
                    <div class="accordset-content">
                      템플릿 하우스는 ​별도의 설치 없이 ​어디서든 가장 쉽고 빠르게 HTML 코딩이 가능합니다. <br>HTML, CSS, JavaScript 기반으로 제공되는 블록과 ​다양한 테마를 활용하여 사용자가 직접 블록을 <br> 드래그, 편집, 드래그하여 멋진 웹 사이트를 가장 쉽고, 빠르게 만들 수 있습니다.
                    </div>
                  </div>
                </div>
                <div class="accordset-item">
                  <div class="accordset-header">
                    <button class="accordset-button btn" type="button">
                      템플릿하우스는 HTML 코딩을 가장 쉽고 빠르게 작업할 수 있습니다. 템플릿하우스는 HTML 코딩을 가장 쉽고 빠르게 작업할 수 있습니다.
                    </button>
                  </div>
                  <div class="accordset-body">
                    <div class="accordset-content">
                      템플릿 하우스는 ​별도의 설치 없이 ​어디서든 가장 쉽고 빠르게 HTML 코딩이 가능합니다. <br>HTML, CSS, JavaScript 기반으로 제공되는 블록과 ​다양한 테마를 활용하여 사용자가 직접 블록을 <br> 드래그, 편집, 드래그하여 멋진 웹 사이트를 가장 쉽고, 빠르게 만들 수 있습니다.
                    </div>
                  </div>
                </div>
                <div class="accordset-item">
                  <div class="accordset-header">
                    <button class="accordset-button btn" type="button">
                      템플릿하우스는 HTML 코딩을 가장 쉽고 빠르게 작업할 수 있습니다.
                    </button>
                  </div>
                  <div class="accordset-body">
                    <div class="accordset-content">
                      템플릿 하우스는 ​별도의 설치 없이 ​어디서든 가장 쉽고 빠르게 HTML 코딩이 가능합니다. <br>HTML, CSS, JavaScript 기반으로 제공되는 블록과 ​다양한 테마를 활용하여 사용자가 직접 블록을 <br> 드래그, 편집, 드래그하여 멋진 웹 사이트를 가장 쉽고, 빠르게 만들 수 있습니다.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="accordset accordset-arrow">
                <div class="accordset-item active">
                  <div class="accordset-header">
                    <button class="accordset-button btn" type="button">
                      템플릿하우스는 HTML 코딩을 가장 쉽고 빠르게 작업할 수 있습니다.
                    </button>
                  </div>
                  <div class="accordset-body">
                    <div class="accordset-content">
                      템플릿 하우스는 ​별도의 설치 없이 ​어디서든 가장 쉽고 빠르게 HTML 코딩이 가능합니다. <br>HTML, CSS, JavaScript 기반으로 제공되는 블록과 ​다양한 테마를 활용하여 사용자가 직접 블록을 <br> 드래그, 편집, 드래그하여 멋진 웹 사이트를 가장 쉽고, 빠르게 만들 수 있습니다.
                    </div>
                  </div>
                </div>
                <div class="accordset-item">
                  <div class="accordset-header">
                    <button class="accordset-button btn" type="button">
                      템플릿하우스는 HTML 코딩을 가장 쉽고 빠르게 작업할 수 있습니다. 템플릿하우스는 HTML 코딩을 가장 쉽고 빠르게 작업할 수 있습니다.
                    </button>
                  </div>
                  <div class="accordset-body">
                    <div class="accordset-content">
                      템플릿 하우스는 ​별도의 설치 없이 ​어디서든 가장 쉽고 빠르게 HTML 코딩이 가능합니다. <br>HTML, CSS, JavaScript 기반으로 제공되는 블록과 ​다양한 테마를 활용하여 사용자가 직접 블록을 <br> 드래그, 편집, 드래그하여 멋진 웹 사이트를 가장 쉽고, 빠르게 만들 수 있습니다.
                    </div>
                  </div>
                </div>
                <div class="accordset-item">
                  <div class="accordset-header">
                    <button class="accordset-button btn" type="button">
                      템플릿하우스는 HTML 코딩을 가장 쉽고 빠르게 작업할 수 있습니다.
                    </button>
                  </div>
                  <div class="accordset-body">
                    <div class="accordset-content">
                      템플릿 하우스는 ​별도의 설치 없이 ​어디서든 가장 쉽고 빠르게 HTML 코딩이 가능합니다. <br>HTML, CSS, JavaScript 기반으로 제공되는 블록과 ​다양한 테마를 활용하여 사용자가 직접 블록을 <br> 드래그, 편집, 드래그하여 멋진 웹 사이트를 가장 쉽고, 빠르게 만들 수 있습니다.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="accordset accordset-arrow">
                <div class="accordset-item active">
                  <div class="accordset-header">
                    <button class="accordset-button btn" type="button">
                      <span class="accordset-q">Q</span>
                      템플릿하우스는 HTML 코딩을 가장 쉽고 빠르게 작업할 수 있습니다.
                    </button>
                  </div>
                  <div class="accordset-body">
                    <div class="accordset-content">
                      <span class="accordset-a">A</span>
                      템플릿 하우스는 ​별도의 설치 없이 ​어디서든 가장 쉽고 빠르게 HTML 코딩이 가능합니다. <br>HTML, CSS, JavaScript 기반으로 제공되는 블록과 ​다양한 테마를 활용하여 사용자가 직접 블록을 <br> 드래그, 편집, 드래그하여 멋진 웹 사이트를 가장 쉽고, 빠르게 만들 수 있습니다.
                    </div>
                  </div>
                </div>
                <div class="accordset-item">
                  <div class="accordset-header">
                    <button class="accordset-button btn" type="button">
                      <span class="accordset-q">Q</span>
                      템플릿하우스는 HTML 코딩을 가장 쉽고 빠르게 작업할 수 있습니다. 템플릿하우스는 HTML 코딩을 가장 쉽고 빠르게 작업할 수 있습니다.
                    </button>
                  </div>
                  <div class="accordset-body">
                    <div class="accordset-content">
                      <span class="accordset-a">A</span>
                      템플릿 하우스는 ​별도의 설치 없이 ​어디서든 가장 쉽고 빠르게 HTML 코딩이 가능합니다. <br>HTML, CSS, JavaScript 기반으로 제공되는 블록과 ​다양한 테마를 활용하여 사용자가 직접 블록을 <br> 드래그, 편집, 드래그하여 멋진 웹 사이트를 가장 쉽고, 빠르게 만들 수 있습니다.
                    </div>
                  </div>
                </div>
                <div class="accordset-item">
                  <div class="accordset-header">
                    <button class="accordset-button btn" type="button">
                      <span class="accordset-q">Q</span>
                      템플릿하우스는 HTML 코딩을 가장 쉽고 빠르게 작업할 수 있습니다.
                    </button>
                  </div>
                  <div class="accordset-body">
                    <div class="accordset-content">
                      <span class="accordset-a">A</span>
                      템플릿 하우스는 ​별도의 설치 없이 ​어디서든 가장 쉽고 빠르게 HTML 코딩이 가능합니다. <br>HTML, CSS, JavaScript 기반으로 제공되는 블록과 ​다양한 테마를 활용하여 사용자가 직접 블록을 <br> 드래그, 편집, 드래그하여 멋진 웹 사이트를 가장 쉽고, 빠르게 만들 수 있습니다.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="accordset accordset-arrow accent-header">
                <div class="accordset-item active">
                  <div class="accordset-header">
                    <button class="accordset-button btn" type="button">
                      템플릿하우스는 HTML 코딩을 가장 쉽고 빠르게 작업할 수 있습니다.
                    </button>
                  </div>
                  <div class="accordset-body">
                    <div class="accordset-content">
                      템플릿 하우스는 ​별도의 설치 없이 ​어디서든 가장 쉽고 빠르게 HTML 코딩이 가능합니다. <br>HTML, CSS, JavaScript 기반으로 제공되는 블록과 ​다양한 테마를 활용하여 사용자가 직접 블록을 <br> 드래그, 편집, 드래그하여 멋진 웹 사이트를 가장 쉽고, 빠르게 만들 수 있습니다.
                    </div>
                  </div>
                </div>
                <div class="accordset-item">
                  <div class="accordset-header">
                    <button class="accordset-button btn" type="button">
                      템플릿하우스는 HTML 코딩을 가장 쉽고 빠르게 작업할 수 있습니다. 템플릿하우스는 HTML 코딩을 가장 쉽고 빠르게 작업할 수 있습니다.
                    </button>
                  </div>
                  <div class="accordset-body">
                    <div class="accordset-content">
                      템플릿 하우스는 ​별도의 설치 없이 ​어디서든 가장 쉽고 빠르게 HTML 코딩이 가능합니다. <br>HTML, CSS, JavaScript 기반으로 제공되는 블록과 ​다양한 테마를 활용하여 사용자가 직접 블록을 <br> 드래그, 편집, 드래그하여 멋진 웹 사이트를 가장 쉽고, 빠르게 만들 수 있습니다.
                    </div>
                  </div>
                </div>
                <div class="accordset-item">
                  <div class="accordset-header">
                    <button class="accordset-button btn" type="button">
                      템플릿하우스는 HTML 코딩을 가장 쉽고 빠르게 작업할 수 있습니다.
                    </button>
                  </div>
                  <div class="accordset-body">
                    <div class="accordset-content">
                      템플릿 하우스는 ​별도의 설치 없이 ​어디서든 가장 쉽고 빠르게 HTML 코딩이 가능합니다. <br>HTML, CSS, JavaScript 기반으로 제공되는 블록과 ​다양한 테마를 활용하여 사용자가 직접 블록을 <br> 드래그, 편집, 드래그하여 멋진 웹 사이트를 가장 쉽고, 빠르게 만들 수 있습니다.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="accordset accordset-arrow accent-body">
                <div class="accordset-item active">
                  <div class="accordset-header">
                    <button class="accordset-button btn" type="button">
                      템플릿하우스는 HTML 코딩을 가장 쉽고 빠르게 작업할 수 있습니다.
                    </button>
                  </div>
                  <div class="accordset-body">
                    <div class="accordset-content">
                      템플릿 하우스는 ​별도의 설치 없이 ​어디서든 가장 쉽고 빠르게 HTML 코딩이 가능합니다. <br>HTML, CSS, JavaScript 기반으로 제공되는 블록과 ​다양한 테마를 활용하여 사용자가 직접 블록을 <br> 드래그, 편집, 드래그하여 멋진 웹 사이트를 가장 쉽고, 빠르게 만들 수 있습니다.
                    </div>
                  </div>
                </div>
                <div class="accordset-item">
                  <div class="accordset-header">
                    <button class="accordset-button btn" type="button">
                      템플릿하우스는 HTML 코딩을 가장 쉽고 빠르게 작업할 수 있습니다. 템플릿하우스는 HTML 코딩을 가장 쉽고 빠르게 작업할 수 있습니다.
                    </button>
                  </div>
                  <div class="accordset-body">
                    <div class="accordset-content">
                      템플릿 하우스는 ​별도의 설치 없이 ​어디서든 가장 쉽고 빠르게 HTML 코딩이 가능합니다. <br>HTML, CSS, JavaScript 기반으로 제공되는 블록과 ​다양한 테마를 활용하여 사용자가 직접 블록을 <br> 드래그, 편집, 드래그하여 멋진 웹 사이트를 가장 쉽고, 빠르게 만들 수 있습니다.
                    </div>
                  </div>
                </div>
                <div class="accordset-item">
                  <div class="accordset-header">
                    <button class="accordset-button btn" type="button">
                      템플릿하우스는 HTML 코딩을 가장 쉽고 빠르게 작업할 수 있습니다.
                    </button>
                  </div>
                  <div class="accordset-body">
                    <div class="accordset-content">
                      템플릿 하우스는 ​별도의 설치 없이 ​어디서든 가장 쉽고 빠르게 HTML 코딩이 가능합니다. <br>HTML, CSS, JavaScript 기반으로 제공되는 블록과 ​다양한 테마를 활용하여 사용자가 직접 블록을 <br> 드래그, 편집, 드래그하여 멋진 웹 사이트를 가장 쉽고, 빠르게 만들 수 있습니다.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="accordset accordset-arrow accordset-round">
                <div class="accordset-item active">
                  <div class="accordset-header">
                    <button class="accordset-button btn" type="button">
                      템플릿하우스는 HTML 코딩을 가장 쉽고 빠르게 작업할 수 있습니다.
                    </button>
                  </div>
                  <div class="accordset-body">
                    <div class="accordset-content">
                      템플릿 하우스는 ​별도의 설치 없이 ​어디서든 가장 쉽고 빠르게 HTML 코딩이 가능합니다. <br>HTML, CSS, JavaScript 기반으로 제공되는 블록과 ​다양한 테마를 활용하여 사용자가 직접 블록을 <br> 드래그, 편집, 드래그하여 멋진 웹 사이트를 가장 쉽고, 빠르게 만들 수 있습니다.
                    </div>
                  </div>
                </div>
                <div class="accordset-item">
                  <div class="accordset-header">
                    <button class="accordset-button btn" type="button">
                      템플릿하우스는 HTML 코딩을 가장 쉽고 빠르게 작업할 수 있습니다. 템플릿하우스는 HTML 코딩을 가장 쉽고 빠르게 작업할 수 있습니다.
                    </button>
                  </div>
                  <div class="accordset-body">
                    <div class="accordset-content">
                      템플릿 하우스는 ​별도의 설치 없이 ​어디서든 가장 쉽고 빠르게 HTML 코딩이 가능합니다. <br>HTML, CSS, JavaScript 기반으로 제공되는 블록과 ​다양한 테마를 활용하여 사용자가 직접 블록을 <br> 드래그, 편집, 드래그하여 멋진 웹 사이트를 가장 쉽고, 빠르게 만들 수 있습니다.
                    </div>
                  </div>
                </div>
                <div class="accordset-item">
                  <div class="accordset-header">
                    <button class="accordset-button btn" type="button">
                      템플릿하우스는 HTML 코딩을 가장 쉽고 빠르게 작업할 수 있습니다.
                    </button>
                  </div>
                  <div class="accordset-body">
                    <div class="accordset-content">
                      템플릿 하우스는 ​별도의 설치 없이 ​어디서든 가장 쉽고 빠르게 HTML 코딩이 가능합니다. <br>HTML, CSS, JavaScript 기반으로 제공되는 블록과 ​다양한 테마를 활용하여 사용자가 직접 블록을 <br> 드래그, 편집, 드래그하여 멋진 웹 사이트를 가장 쉽고, 빠르게 만들 수 있습니다.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="accordset accordset-plus">
                <div class="accordset-item">
                  <div class="accordset-header">
                    <button class="accordset-button btn" type="button">
                      템플릿하우스는 HTML 코딩을 가장 쉽고 빠르게 작업할 수 있습니다.
                    </button>
                  </div>
                  <div class="accordset-body">
                    <div class="accordset-content">
                      템플릿 하우스는 ​별도의 설치 없이 ​어디서든 가장 쉽고 빠르게 HTML 코딩이 가능합니다. <br>HTML, CSS, JavaScript 기반으로 제공되는 블록과 ​다양한 테마를 활용하여 사용자가 직접 블록을 <br> 드래그, 편집, 드래그하여 멋진 웹 사이트를 가장 쉽고, 빠르게 만들 수 있습니다.
                    </div>
                  </div>
                </div>
                <div class="accordset-item">
                  <div class="accordset-header">
                    <button class="accordset-button btn" type="button">
                      템플릿하우스는 HTML 코딩을 가장 쉽고 빠르게 작업할 수 있습니다. 템플릿하우스는 HTML 코딩을 가장 쉽고 빠르게 작업할 수 있습니다.
                    </button>
                  </div>
                  <div class="accordset-body">
                    <div class="accordset-content">
                      템플릿 하우스는 ​별도의 설치 없이 ​어디서든 가장 쉽고 빠르게 HTML 코딩이 가능합니다. <br>HTML, CSS, JavaScript 기반으로 제공되는 블록과 ​다양한 테마를 활용하여 사용자가 직접 블록을 <br> 드래그, 편집, 드래그하여 멋진 웹 사이트를 가장 쉽고, 빠르게 만들 수 있습니다.
                    </div>
                  </div>
                </div>
                <div class="accordset-item">
                  <div class="accordset-header">
                    <button class="accordset-button btn" type="button">
                      템플릿하우스는 HTML 코딩을 가장 쉽고 빠르게 작업할 수 있습니다.
                    </button>
                  </div>
                  <div class="accordset-body">
                    <div class="accordset-content">
                      템플릿 하우스는 ​별도의 설치 없이 ​어디서든 가장 쉽고 빠르게 HTML 코딩이 가능합니다. <br>HTML, CSS, JavaScript 기반으로 제공되는 블록과 ​다양한 테마를 활용하여 사용자가 직접 블록을 <br> 드래그, 편집, 드래그하여 멋진 웹 사이트를 가장 쉽고, 빠르게 만들 수 있습니다.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="accordset accordset-plus">
                <div class="accordset-item active">
                  <div class="accordset-header">
                    <button class="accordset-button btn" type="button">
                      템플릿하우스는 HTML 코딩을 가장 쉽고 빠르게 작업할 수 있습니다.
                    </button>
                  </div>
                  <div class="accordset-body">
                    <div class="accordset-content">
                      템플릿 하우스는 ​별도의 설치 없이 ​어디서든 가장 쉽고 빠르게 HTML 코딩이 가능합니다. <br>HTML, CSS, JavaScript 기반으로 제공되는 블록과 ​다양한 테마를 활용하여 사용자가 직접 블록을 <br> 드래그, 편집, 드래그하여 멋진 웹 사이트를 가장 쉽고, 빠르게 만들 수 있습니다.
                    </div>
                  </div>
                </div>
                <div class="accordset-item">
                  <div class="accordset-header">
                    <button class="accordset-button btn" type="button">
                      템플릿하우스는 HTML 코딩을 가장 쉽고 빠르게 작업할 수 있습니다. 템플릿하우스는 HTML 코딩을 가장 쉽고 빠르게 작업할 수 있습니다.
                    </button>
                  </div>
                  <div class="accordset-body">
                    <div class="accordset-content">
                      템플릿 하우스는 ​별도의 설치 없이 ​어디서든 가장 쉽고 빠르게 HTML 코딩이 가능합니다. <br>HTML, CSS, JavaScript 기반으로 제공되는 블록과 ​다양한 테마를 활용하여 사용자가 직접 블록을 <br> 드래그, 편집, 드래그하여 멋진 웹 사이트를 가장 쉽고, 빠르게 만들 수 있습니다.
                    </div>
                  </div>
                </div>
                <div class="accordset-item">
                  <div class="accordset-header">
                    <button class="accordset-button btn" type="button">
                      템플릿하우스는 HTML 코딩을 가장 쉽고 빠르게 작업할 수 있습니다.
                    </button>
                  </div>
                  <div class="accordset-body">
                    <div class="accordset-content">
                      템플릿 하우스는 ​별도의 설치 없이 ​어디서든 가장 쉽고 빠르게 HTML 코딩이 가능합니다. <br>HTML, CSS, JavaScript 기반으로 제공되는 블록과 ​다양한 테마를 활용하여 사용자가 직접 블록을 <br> 드래그, 편집, 드래그하여 멋진 웹 사이트를 가장 쉽고, 빠르게 만들 수 있습니다.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- //container -->

  <!-- script -->
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="./views/view.js"></script>
  <script src="./resources/template.js"></script>
  <!-- //script -->
</body>

</html>