<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="imagetoolbar" content="no">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <title>요소</title>
  <!-- style -->
  <link rel="stylesheet" href="./views/view.css">
  <link rel="stylesheet" href="./resources/template.css">
  <!-- //style -->
</head>

<body>
  <!-- container -->
  <div class="template-container">
    <h1 class="template-title"></h1>
    <div class="template-asset">
      <div class="row">
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="textset">
                <h1 class="textset-tit h2">H2. 페이지 타이틀 <span class="textset-badge badge-h2">N</span></h1>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="textset">
                <h1 class="textset-tit h3">H3. 페이지 타이틀 <span class="textset-badge badge-h3">N</span></h1>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="textset">
                <h1 class="textset-tit h4">H4. 페이지 타이틀 <span class="textset-badge badge-h4">N</span></h1>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="textset">
                <h1 class="textset-tit h5">H5. 페이지 타이틀 <span class="textset-badge badge-h5">N</span></h1>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="textset">
                <h1 class="textset-tit h6">H6. 페이지 타이틀 <span class="textset-badge badge-h6">N</span></h1>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="badgeset">
                <span class="badgeset-text">텍스트배지</span>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="badgeset badgeset-danger">
                <span class="badgeset-text">텍스트배지</span>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="badgeset badgeset-mono">
                <span class="badgeset-text">텍스트배지</span>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="badgeset badgeset-violet">
                <span class="badgeset-text">텍스트배지</span>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="badgeset badgeset-success">
                <span class="badgeset-text">텍스트배지</span>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="badgeset badgeset-orange">
                <span class="badgeset-text">텍스트배지</span>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="badgeset badgeset-navy">
                <span class="badgeset-text">텍스트배지</span>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="badgeset badgeset-line">
                <span class="badgeset-text">텍스트배지</span>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="badgeset badgeset-line badgeset-danger">
                <span class="badgeset-text">텍스트배지</span>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="badgeset badgeset-line badgeset-mono">
                <span class="badgeset-text">텍스트배지</span>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="badgeset badgeset-line badgeset-violet">
                <span class="badgeset-text">텍스트배지</span>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="badgeset badgeset-line badgeset-success">
                <span class="badgeset-text">텍스트배지</span>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="badgeset badgeset-line badgeset-orange">
                <span class="badgeset-text">텍스트배지</span>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="badgeset badgeset-line badgeset-navy">
                <span class="badgeset-text">텍스트배지</span>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="badgeset badgeset-round">
                <span class="badgeset-text">99+</span>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="badgeset badgeset-round badgeset-primary">
                <span class="badgeset-text">99+</span>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="badgeset badgeset-round badgeset-mono">
                <span class="badgeset-text">99+</span>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="badgeset badgeset-round badgeset-violet">
                <span class="badgeset-text">99+</span>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="badgeset badgeset-round badgeset-success">
                <span class="badgeset-text">99+</span>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="badgeset badgeset-round badgeset-orange">
                <span class="badgeset-text">99+</span>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="badgeset badgeset-round badgeset-navy">
                <span class="badgeset-text">99+</span>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="badgeset badgeset-round badgeset-line">
                <span class="badgeset-text">99+</span>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="badgeset badgeset-round badgeset-line badgeset-primary">
                <span class="badgeset-text">99+</span>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="badgeset badgeset-round badgeset-line badgeset-mono">
                <span class="badgeset-text">99+</span>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="badgeset badgeset-round badgeset-line badgeset-violet">
                <span class="badgeset-text">99+</span>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="badgeset badgeset-round badgeset-line badgeset-success">
                <span class="badgeset-text">99+</span>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="badgeset badgeset-round badgeset-line badgeset-orange">
                <span class="badgeset-text">99+</span>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="badgeset badgeset-round badgeset-line badgeset-navy">
                <span class="badgeset-text">99+</span>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <button class="btnset btnset-badge" type="button">
                버튼 배지
                <div class="badgeset badgeset-round">
                  <span class="badgeset-text">99+</span>
                </div>
              </button>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <button class="btnset btnset-badge" type="button">
                버튼 배지
                <div class="badgeset badgeset-round badgeset-mono">
                  <span class="badgeset-text">99+</span>
                </div>
              </button>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <button class="btnset btnset-badge" type="button">
                버튼 배지
                <div class="badgeset badgeset-round badgeset-violet">
                  <span class="badgeset-text">99+</span>
                </div>
              </button>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <button class="btnset btnset-badge" type="button">
                버튼 배지
                <div class="badgeset badgeset-round badgeset-success">
                  <span class="badgeset-text">99+</span>
                </div>
              </button>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <button class="btnset btnset-badge" type="button">
                버튼 배지
                <div class="badgeset badgeset-round badgeset-orange">
                  <span class="badgeset-text">99+</span>
                </div>
              </button>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <button class="btnset btnset-badge" type="button">
                버튼 배지
                <div class="badgeset badgeset-round badgeset-navy">
                  <span class="badgeset-text">99+</span>
                </div>
              </button>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <button class="btnset btnset-badge" type="button">
                버튼 배지
                <div class="badgeset badgeset-round badgeset-position badgeset-top-right">
                  <span class="badgeset-text">99+</span>
                </div>
              </button>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <button class="btnset btnset-badge" type="button">
                버튼 배지
                <div class="badgeset badgeset-round badgeset-position badgeset-top-right badgeset-mono">
                  <span class="badgeset-text">99+</span>
                </div>
              </button>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <button class="btnset btnset-badge" type="button">
                버튼 배지
                <div class="badgeset badgeset-round badgeset-position badgeset-top-right badgeset-violet">
                  <span class="badgeset-text">99+</span>
                </div>
              </button>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <button class="btnset btnset-badge" type="button">
                버튼 배지
                <div class="badgeset badgeset-round badgeset-position badgeset-top-right badgeset-success">
                  <span class="badgeset-text">99+</span>
                </div>
              </button>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <button class="btnset btnset-badge" type="button">
                버튼 배지
                <div class="badgeset badgeset-round badgeset-position badgeset-top-right badgeset-orange">
                  <span class="badgeset-text">99+</span>
                </div>
              </button>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <button class="btnset btnset-badge" type="button">
                버튼 배지
                <div class="badgeset badgeset-round badgeset-position badgeset-top-right badgeset-navy">
                  <span class="badgeset-text">99+</span>
                </div>
              </button>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <button class="btnset btnset-badge" type="button">
                버튼 배지
                <div class="badgeset badgeset-round badgeset-position badgeset-top-left">
                  <span class="badgeset-text">99+</span>
                </div>
              </button>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <button class="btnset btnset-badge" type="button">
                버튼 배지
                <div class="badgeset badgeset-round badgeset-position badgeset-top-left badgeset-mono">
                  <span class="badgeset-text">99+</span>
                </div>
              </button>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <button class="btnset btnset-badge" type="button">
                버튼 배지
                <div class="badgeset badgeset-round badgeset-position badgeset-top-left badgeset-violet">
                  <span class="badgeset-text">99+</span>
                </div>
              </button>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <button class="btnset btnset-badge" type="button">
                버튼 배지
                <div class="badgeset badgeset-round badgeset-position badgeset-top-left badgeset-success">
                  <span class="badgeset-text">99+</span>
                </div>
              </button>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <button class="btnset btnset-badge" type="button">
                버튼 배지
                <div class="badgeset badgeset-round badgeset-position badgeset-top-left badgeset-orange">
                  <span class="badgeset-text">99+</span>
                </div>
              </button>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <button class="btnset btnset-badge" type="button">
                버튼 배지
                <div class="badgeset badgeset-round badgeset-position badgeset-top-left badgeset-mono">
                  <span class="badgeset-text">99+</span>
                </div>
              </button>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <button class="btnset btnset-badge" type="button">
                버튼 배지
                <div class="badgeset badgeset-circle">
                  <span class="badgeset-text">7</span>
                </div>
              </button>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <button class="btnset btnset-badge" type="button">
                버튼 배지
                <div class="badgeset badgeset-circle badgeset-mono">
                  <span class="badgeset-text">7</span>
                </div>
              </button>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <button class="btnset btnset-badge" type="button">
                버튼 배지
                <div class="badgeset badgeset-circle badgeset-violet">
                  <span class="badgeset-text">7</span>
                </div>
              </button>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <button class="btnset btnset-badge" type="button">
                버튼 배지
                <div class="badgeset badgeset-circle badgeset-success">
                  <span class="badgeset-text">7</span>
                </div>
              </button>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <button class="btnset btnset-badge" type="button">
                버튼 배지
                <div class="badgeset badgeset-circle badgeset-orange">
                  <span class="badgeset-text">7</span>
                </div>
              </button>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <button class="btnset btnset-badge" type="button">
                버튼 배지
                <div class="badgeset badgeset-circle badgeset-navy">
                  <span class="badgeset-text">7</span>
                </div>
              </button>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <button class="btnset btnset-badge" type="button">
                버튼 배지
                <div class="badgeset badgeset-circle badgeset-position badgeset-top-right">
                  <span class="badgeset-text">7</span>
                </div>
              </button>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <button class="btnset btnset-badge" type="button">
                버튼 배지
                <div class="badgeset badgeset-circle badgeset-position badgeset-top-right badgeset-mono">
                  <span class="badgeset-text">7</span>
                </div>
              </button>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <button class="btnset btnset-badge" type="button">
                버튼 배지
                <div class="badgeset badgeset-circle badgeset-position badgeset-top-right badgeset-violet">
                  <span class="badgeset-text">7</span>
                </div>
              </button>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <button class="btnset btnset-badge" type="button">
                버튼 배지
                <div class="badgeset badgeset-circle badgeset-position badgeset-top-right badgeset-success">
                  <span class="badgeset-text">7</span>
                </div>
              </button>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <button class="btnset btnset-badge" type="button">
                버튼 배지
                <div class="badgeset badgeset-circle badgeset-position badgeset-top-right badgeset-orange">
                  <span class="badgeset-text">7</span>
                </div>
              </button>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <button class="btnset btnset-badge" type="button">
                버튼 배지
                <div class="badgeset badgeset-circle badgeset-position badgeset-top-right badgeset-navy">
                  <span class="badgeset-text">7</span>
                </div>
              </button>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <button class="btnset btnset-badge" type="button">
                버튼 배지
                <div class="badgeset badgeset-circle badgeset-position badgeset-top-left">
                  <span class="badgeset-text">7</span>
                </div>
              </button>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <button class="btnset btnset-badge" type="button">
                버튼 배지
                <div class="badgeset badgeset-circle badgeset-position badgeset-top-left badgeset-mono">
                  <span class="badgeset-text">7</span>
                </div>
              </button>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <button class="btnset btnset-badge" type="button">
                버튼 배지
                <div class="badgeset badgeset-circle badgeset-position badgeset-top-left badgeset-violet">
                  <span class="badgeset-text">7</span>
                </div>
              </button>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <button class="btnset btnset-badge" type="button">
                버튼 배지
                <div class="badgeset badgeset-circle badgeset-position badgeset-top-left badgeset-success">
                  <span class="badgeset-text">7</span>
                </div>
              </button>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <button class="btnset btnset-badge" type="button">
                버튼 배지
                <div class="badgeset badgeset-circle badgeset-position badgeset-top-left badgeset-orange">
                  <span class="badgeset-text">7</span>
                </div>
              </button>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <button class="btnset btnset-badge" type="button">
                버튼 배지
                <div class="badgeset badgeset-circle badgeset-position badgeset-top-left badgeset-navy">
                  <span class="badgeset-text">7</span>
                </div>
              </button>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <button class="btnset btnset-badge" type="button">
                버튼 배지
                <div class="badgeset badgeset-circle-border badgeset-position badgeset-top-right">
                  <span class="badgeset-text"></span>
                </div>
              </button>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <button class="btnset btnset-badge" type="button">
                버튼 배지
                <div class="badgeset badgeset-circle-border badgeset-position badgeset-top-right badgeset-mono">
                  <span class="badgeset-text"></span>
                </div>
              </button>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <button class="btnset btnset-badge" type="button">
                버튼 배지
                <div class="badgeset badgeset-circle-border badgeset-position badgeset-top-right badgeset-violet">
                  <span class="badgeset-text"></span>
                </div>
              </button>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <button class="btnset btnset-badge" type="button">
                버튼 배지
                <div class="badgeset badgeset-circle-border badgeset-position badgeset-top-right badgeset-success">
                  <span class="badgeset-text"></span>
                </div>
              </button>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <button class="btnset btnset-badge" type="button">
                버튼 배지
                <div class="badgeset badgeset-circle-border badgeset-position badgeset-top-right badgeset-orange">
                  <span class="badgeset-text"></span>
                </div>
              </button>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <button class="btnset btnset-badge" type="button">
                버튼 배지
                <div class="badgeset badgeset-circle-border badgeset-position badgeset-top-right badgeset-navy">
                  <span class="badgeset-text"></span>
                </div>
              </button>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <button class="btnset btnset-badge" type="button">
                버튼 배지
                <div class="badgeset badgeset-circle-border badgeset-position badgeset-top-left">
                  <span class="badgeset-text"></span>
                </div>
              </button>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <button class="btnset btnset-badge" type="button">
                버튼 배지
                <div class="badgeset badgeset-circle-border badgeset-position badgeset-top-left badgeset-mono">
                  <span class="badgeset-text"></span>
                </div>
              </button>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <button class="btnset btnset-badge" type="button">
                버튼 배지
                <div class="badgeset badgeset-circle-border badgeset-position badgeset-top-left badgeset-violet">
                  <span class="badgeset-text"></span>
                </div>
              </button>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <button class="btnset btnset-badge" type="button">
                버튼 배지
                <div class="badgeset badgeset-circle-border badgeset-position badgeset-top-left badgeset-success">
                  <span class="badgeset-text"></span>
                </div>
              </button>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <button class="btnset btnset-badge" type="button">
                버튼 배지
                <div class="badgeset badgeset-circle-border badgeset-position badgeset-top-left badgeset-orange">
                  <span class="badgeset-text"></span>
                </div>
              </button>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <button class="btnset btnset-badge" type="button">
                버튼 배지
                <div class="badgeset badgeset-circle-border badgeset-position badgeset-top-left badgeset-navy">
                  <span class="badgeset-text"></span>
                </div>
              </button>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="badgeset badgeset-circle-border badgeset-icon badgeset-position badgeset-top-right badgeset-success">
                <span class="badgeset-text"></span>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="badgeset badgeset-circle-border badgeset-icon badgeset-position badgeset-top-right badgeset-orange">
                <span class="badgeset-text"></span>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="badgeset badgeset-circle-border badgeset-icon badgeset-position badgeset-top-right badgeset-navy">
                <span class="badgeset-text"></span>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="badgeset badgeset-circle-border badgeset-icon badgeset-position badgeset-top-right">
                <span class="badgeset-text"></span>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="badgeset badgeset-circle-border badgeset-icon badgeset-position badgeset-top-right badgeset-mono">
                <span class="badgeset-text"></span>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="badgeset badgeset-circle-border badgeset-icon badgeset-position badgeset-top-right badgeset-violet">
                <span class="badgeset-text"></span>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="badgeset badgeset-circle badgeset-icon badgeset-position badgeset-top-right badgeset-success">
                <span class="badgeset-text">7</span>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="badgeset badgeset-circle badgeset-icon badgeset-position badgeset-top-right badgeset-orange">
                <span class="badgeset-text">7</span>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="badgeset badgeset-circle badgeset-icon badgeset-position badgeset-top-right badgeset-navy">
                <span class="badgeset-text">7</span>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="badgeset badgeset-circle badgeset-icon badgeset-position badgeset-top-right top-left">
                <span class="badgeset-text">7</span>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="badgeset badgeset-circle badgeset-icon badgeset-position badgeset-top-right badgeset-mono">
                <span class="badgeset-text">7</span>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="badgeset badgeset-circle badgeset-icon badgeset-position badgeset-top-right badgeset-violet">
                <span class="badgeset-text">7</span>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="badgeset badgeset-circle badgeset-icon badgeset-position badgeset-top-left top-right badgeset-success">
                <span class="badgeset-text">7</span>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="badgeset badgeset-circle badgeset-icon badgeset-position badgeset-top-left top-right badgeset-orange">
                <span class="badgeset-text">7</span>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="badgeset badgeset-circle badgeset-icon badgeset-position badgeset-top-left top-right badgeset-navy">
                <span class="badgeset-text">7</span>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="badgeset badgeset-circle badgeset-icon badgeset-position badgeset-top-left">
                <span class="badgeset-text">7</span>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="badgeset badgeset-circle badgeset-icon badgeset-position badgeset-top-left badgeset-mono">
                <span class="badgeset-text">7</span>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="badgeset badgeset-circle badgeset-icon badgeset-position badgeset-top-left badgeset-violet">
                <span class="badgeset-text">7</span>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="badgeset badgeset-round badgeset-icon badgeset-position badgeset-top-right">
                <span class="badgeset-text">99+</span>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="badgeset badgeset-round badgeset-icon badgeset-position badgeset-top-right badgeset-orange">
                <span class="badgeset-text">99+</span>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="badgeset badgeset-round badgeset-icon badgeset-position badgeset-top-right badgeset-navy">
                <span class="badgeset-text">99+</span>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="badgeset badgeset-round badgeset-icon badgeset-position badgeset-top-right badgeset-success">
                <span class="badgeset-text">99+</span>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="badgeset badgeset-round badgeset-icon badgeset-position badgeset-top-right badgeset-mono">
                <span class="badgeset-text">99+</span>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="badgeset badgeset-round badgeset-icon badgeset-position badgeset-top-right badgeset-violet">
                <span class="badgeset-text">99+</span>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="badgeset badgeset-round badgeset-icon badgeset-position badgeset-top-left top-left">
                <span class="badgeset-text">99+</span>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="badgeset badgeset-round badgeset-icon badgeset-position badgeset-top-left top-left badgeset-orange">
                <span class="badgeset-text">99+</span>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="badgeset badgeset-round badgeset-icon badgeset-position badgeset-top-left top-left badgeset-navy">
                <span class="badgeset-text">99+</span>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="badgeset badgeset-round badgeset-icon badgeset-position badgeset-top-left top-left badgeset-success">
                <span class="badgeset-text">99+</span>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="badgeset badgeset-round badgeset-icon badgeset-position badgeset-top-left top-left badgeset-mono">
                <span class="badgeset-text">99+</span>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="badgeset badgeset-round badgeset-icon badgeset-position badgeset-top-left top-left badgeset-violet">
                <span class="badgeset-text">99+</span>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- //container -->

  <!-- script -->
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="./views/view.js"></script>
  <script src="./resources/template.js"></script>
  <!-- //script -->
</body>

</html>