<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="imagetoolbar" content="no">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <title>요소</title>
  <!-- style -->
  <link rel="stylesheet" href="./views/view.css">
  <link rel="stylesheet" href="./resources/template.css">
  <!-- //style -->
</head>

<body>
  <!-- container -->
  <div class="template-container">
    <h1 class="template-title"></h1>
    <div class="template-asset">
      <div class="row">
        <div class="col-4">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="cardset">
                <figure class="cardset-figure">
                  <img class="cardset-img" src="https://picsum.photos/id/20/400/300" alt="이미지">
                </figure>
                <div class="cardset-body">
                  <h5 class="cardset-tit">강력한 템플릿 하우스</h5>
                  <p class="cardset-desc">가장 쉽고 빠른 코딩으로 시간단축, 업무 생산성을 높여주는 템플릿 하우스 가장 쉽고 빠른 코딩으로 시간단축, 업무 생산성을 높여주는 템플릿 하우스 가장 쉽고 빠른 코딩으로 시간단축, 업무 생산성을 높여주는 템플릿 하우스 가장 쉽고 빠른 코딩으로 시간단축, 업무 생산성을 높여주는 템플릿 하우스</p>
                  <p class="cardset-txt">2000-01-01</p>
                </div>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col-8">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="cardset cardset-hor">
                <figure class="cardset-figure">
                  <img class="cardset-img" src="https://picsum.photos/id/20/400/300" alt="이미지">
                </figure>
                <div class="cardset-body">
                  <h5 class="cardset-tit">강력한 템플릿 하우스</h5>
                  <p class="cardset-desc">가장 쉽고 빠른 코딩으로 시간단축, 업무 생산성을 높여주는 템플릿 하우스 가장 쉽고 빠른 코딩으로 시간단축, 업무 생산성을 높여주는 템플릿 하우스 가장 쉽고 빠른 코딩으로 시간단축, 업무 생산성을 높여주는 템플릿 하우스</p>
                  <p class="cardset-txt">2000-01-01</p>
                </div>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="cardset cardset-border">
                <figure class="cardset-figure">
                  <img class="cardset-img" src="https://picsum.photos/id/20/400/300" alt="이미지">
                </figure>
                <div class="cardset-body">
                  <h5 class="cardset-tit">강력한 템플릿 하우스</h5>
                  <p class="cardset-desc">가장 쉽고 빠른 코딩으로 시간단축, 업무 생산성을 높여주는 템플릿 하우스 가장 쉽고 빠른 코딩으로 시간단축, 업무 생산성을 높여주는 템플릿 하우스 가장 쉽고 빠른 코딩으로 시간단축, 업무 생산성을 높여주는 템플릿 하우스 가장 쉽고 빠른 코딩으로 시간단축, 업무 생산성을 높여주는 템플릿 하우스</p>
                  <p class="cardset-txt">2000-01-01</p>
                </div>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col-8">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="cardset cardset-border cardset-hor">
                <figure class="cardset-figure">
                  <img class="cardset-img" src="https://picsum.photos/id/20/400/300" alt="이미지">
                </figure>
                <div class="cardset-body">
                  <h5 class="cardset-tit">강력한 템플릿 하우스</h5>
                  <p class="cardset-desc">가장 쉽고 빠른 코딩으로 시간단축, 업무 생산성을 높여주는 템플릿 하우스 가장 쉽고 빠른 코딩으로 시간단축, 업무 생산성을 높여주는 템플릿 하우스 가장 쉽고 빠른 코딩으로 시간단축, 업무 생산성을 높여주는 템플릿 하우스</p>
                  <p class="cardset-txt">2000-01-01</p>
                </div>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="cardset cardset-border cardset-round">
                <figure class="cardset-figure">
                  <img class="cardset-img" src="https://picsum.photos/id/20/400/300" alt="이미지">
                </figure>
                <div class="cardset-body">
                  <h5 class="cardset-tit">강력한 템플릿 하우스</h5>
                  <p class="cardset-desc">가장 쉽고 빠른 코딩으로 시간단축, 업무 생산성을 높여주는 템플릿 하우스 가장 쉽고 빠른 코딩으로 시간단축, 업무 생산성을 높여주는 템플릿 하우스 가장 쉽고 빠른 코딩으로 시간단축, 업무 생산성을 높여주는 템플릿 하우스 가장 쉽고 빠른 코딩으로 시간단축, 업무 생산성을 높여주는 템플릿 하우스</p>
                  <p class="cardset-txt">2000-01-01</p>
                </div>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col-8">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="cardset cardset-border cardset-round cardset-hor">
                <figure class="cardset-figure">
                  <img class="cardset-img" src="https://picsum.photos/id/20/400/300" alt="이미지">
                </figure>
                <div class="cardset-body">
                  <h5 class="cardset-tit">강력한 템플릿 하우스</h5>
                  <p class="cardset-desc">가장 쉽고 빠른 코딩으로 시간단축, 업무 생산성을 높여주는 템플릿 하우스 가장 쉽고 빠른 코딩으로 시간단축, 업무 생산성을 높여주는 템플릿 하우스 가장 쉽고 빠른 코딩으로 시간단축, 업무 생산성을 높여주는 템플릿 하우스</p>
                  <p class="cardset-txt">2000-01-01</p>
                </div>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="cardset cardset-overlap">
                <figure class="cardset-figure">
                  <img class="cardset-img" src="https://picsum.photos/id/302/400/300" alt="이미지">
                </figure>
                <div class="cardset-body body-top">
                  <h5 class="cardset-tit">강력한 템플릿 하우스</h5>
                  <p class="cardset-desc">가장 쉽고 빠른 코딩으로 시간단축, 업무 생산성을 높여주는 템플릿 하우스 가장 쉽고 빠른 코딩으로 시간단축, 업무 생산성을 높여주는 템플릿 하우스</p>
                  <p class="cardset-txt">2000-01-01</p>
                </div>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="cardset cardset-overlap">
                <figure class="cardset-figure">
                  <img class="cardset-img" src="https://picsum.photos/id/302/400/300" alt="이미지">
                </figure>
                <div class="cardset-body body-bottom">
                  <h5 class="cardset-tit">강력한 템플릿 하우스</h5>
                  <p class="cardset-desc">가장 쉽고 빠른 코딩으로 시간단축, 업무 생산성을 높여주는 템플릿 하우스 가장 쉽고 빠른 코딩으로 시간단축, 업무 생산성을 높여주는 템플릿 하우스</p>
                  <p class="cardset-txt">2000-01-01</p>
                </div>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="cardset cardset-overlap cardset-border cardset-round">
                <figure class="cardset-figure">
                  <img class="cardset-img" src="https://picsum.photos/id/302/400/300" alt="이미지">
                </figure>
                <div class="cardset-body body-top">
                  <h5 class="cardset-tit">강력한 템플릿 하우스</h5>
                  <p class="cardset-desc">가장 쉽고 빠른 코딩으로 시간단축, 업무 생산성을 높여주는 템플릿 하우스 가장 쉽고 빠른 코딩으로 시간단축, 업무 생산성을 높여주는 템플릿 하우스</p>
                  <p class="cardset-txt">2000-01-01</p>
                </div>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="cardset cardset-overlap cardset-border cardset-round">
                <figure class="cardset-figure">
                  <img class="cardset-img" src="https://picsum.photos/id/302/400/300" alt="이미지">
                </figure>
                <div class="cardset-body body-bottom">
                  <h5 class="cardset-tit">강력한 템플릿 하우스</h5>
                  <p class="cardset-desc">가장 쉽고 빠른 코딩으로 시간단축, 업무 생산성을 높여주는 템플릿 하우스 가장 쉽고 빠른 코딩으로 시간단축, 업무 생산성을 높여주는 템플릿 하우스</p>
                  <p class="cardset-txt">2000-01-01</p>
                </div>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="cardset cardset-overlap cardset-border cardset-round">
                <figure class="cardset-figure">
                  <img class="cardset-img" src="https://picsum.photos/id/302/800/500" alt="이미지">
                </figure>
                <div class="cardset-body body-dark body-top">
                  <h5 class="cardset-tit">강력한 템플릿 하우스</h5>
                  <p class="cardset-desc">가장 쉽고 빠른 코딩으로 시간단축, 업무 생산성을 높여주는 템플릿 하우스 가장 쉽고 빠른 코딩으로 시간단축, 업무 생산성을 높여주는 템플릿 하우스</p>
                  <p class="cardset-txt">2000-01-01</p>
                </div>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="cardset cardset-overlap cardset-border cardset-round">
                <figure class="cardset-figure">
                  <img class="cardset-img" src="https://picsum.photos/id/339/800/500" alt="이미지">
                </figure>
                <div class="cardset-body body-light body-bottom">
                  <h5 class="cardset-tit">강력한 템플릿 하우스</h5>
                  <p class="cardset-desc">가장 쉽고 빠른 코딩으로 시간단축, 업무 생산성을 높여주는 템플릿 하우스 가장 쉽고 빠른 코딩으로 시간단축, 업무 생산성을 높여주는 템플릿 하우스</p>
                  <p class="cardset-txt">2000-01-01</p>
                </div>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="cardset cardset-hover">
                <div class="cardset-cont">
                  <h5 class="cardset-tit">강력한 템플릿 하우스</h5>
                  <p class="cardset-desc">가장 쉽고 빠른 코딩으로 시간단축, 업무 생산성을 높여주는 템플릿 하우스 가장 쉽고 빠른 코딩으로 시간단축, 업무 생산성을 높여주는 템플릿 하우스</p>
                  <p class="cardset-txt">2000-01-01</p>
                </div>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="cardset cardset-hover cardset-border">
                <div class="cardset-cont">
                  <h5 class="cardset-tit">강력한 템플릿 하우스</h5>
                  <p class="cardset-desc">가장 쉽고 빠른 코딩으로 시간단축, 업무 생산성을 높여주는 템플릿 하우스 가장 쉽고 빠른 코딩으로 시간단축, 업무 생산성을 높여주는 템플릿 하우스</p>
                  <p class="cardset-txt">2000-01-01</p>
                </div>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="cardset cardset-hover cardset-border cardset-round">
                <div class="cardset-cont">
                  <h5 class="cardset-tit">강력한 템플릿 하우스</h5>
                  <p class="cardset-desc">가장 쉽고 빠른 코딩으로 시간단축, 업무 생산성을 높여주는 템플릿 하우스 가장 쉽고 빠른 코딩으로 시간단축, 업무 생산성을 높여주는 템플릿 하우스</p>
                  <p class="cardset-txt">2000-01-01</p>
                </div>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="cardset cardset-hover">
                <div class="cardset-cont cont-primary">
                  <h5 class="cardset-tit">강력한 템플릿 하우스</h5>
                  <p class="cardset-desc">가장 쉽고 빠른 코딩으로 시간단축, 업무 생산성을 높여주는 템플릿 하우스 가장 쉽고 빠른 코딩으로 시간단축, 업무 생산성을 높여주는 템플릿 하우스</p>
                  <p class="cardset-txt">2000-01-01</p>
                </div>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="cardset cardset-hover cardset-border">
                <div class="cardset-cont cont-primary">
                  <h5 class="cardset-tit">강력한 템플릿 하우스</h5>
                  <p class="cardset-desc">가장 쉽고 빠른 코딩으로 시간단축, 업무 생산성을 높여주는 템플릿 하우스 가장 쉽고 빠른 코딩으로 시간단축, 업무 생산성을 높여주는 템플릿 하우스</p>
                  <p class="cardset-txt">2000-01-01</p>
                </div>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="cardset cardset-hover">
                <div class="cardset-cont cont-secondary">
                  <h5 class="cardset-tit">강력한 템플릿 하우스</h5>
                  <p class="cardset-desc">가장 쉽고 빠른 코딩으로 시간단축, 업무 생산성을 높여주는 템플릿 하우스 가장 쉽고 빠른 코딩으로 시간단축, 업무 생산성을 높여주는 템플릿 하우스</p>
                  <p class="cardset-txt">2000-01-01</p>
                </div>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="cardset cardset-hover cardset-border">
                <div class="cardset-cont cont-secondary">
                  <h5 class="cardset-tit">강력한 템플릿 하우스</h5>
                  <p class="cardset-desc">가장 쉽고 빠른 코딩으로 시간단축, 업무 생산성을 높여주는 템플릿 하우스 가장 쉽고 빠른 코딩으로 시간단축, 업무 생산성을 높여주는 템플릿 하우스</p>
                  <p class="cardset-txt">2000-01-01</p>
                </div>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-5">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="cardset cardset-user">
                <figure class="cardset-figure">
                  <img class="cardset-img" src="https://picsum.photos/id/64/400/300" alt="이미지">
                </figure>
                <div class="cardset-profile">
                  <p class="cardset-text">템플릿하우스로 사용 으로 업무 시간과 생산성을 높일 수있습니다. 다양한 프로젝트 활용과 자주 쓰는 코딩을 미리 저장하고 빠르게 적용할 수 있어서 너무 편리하고 좋아요</p>
                  <p class="cardset-info">템하 구매자</p>
                </div>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col-7">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="cardset cardset-user cardset-hor">
                <figure class="cardset-figure">
                  <img class="cardset-img" src="https://picsum.photos/id/64/400/300" alt="이미지">
                </figure>
                <div class="cardset-profile">
                  <p class="cardset-text">템플릿하우스로 사용 으로 업무 시간과 생산성을 높일 수있습니다. 다양한 프로젝트 활용과 자주 쓰는 코딩을 미리 저장하고 빠르게 적용할 수 있어서 너무 편리하고 좋아요</p>
                  <p class="cardset-info">템하 구매자</p>
                </div>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-5">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="cardset cardset-sns">
                <div class="cardset-header">
                  <div class="cardset-subject">
                    <figure class="cardset-figure">
                      <img class="cardset-img" src="https://picsum.photos/id/64/400/300" alt="이미지">
                    </figure>
                    <div class="cardset-info">
                      <strong>TemplateHouse</strong>
                      <span>3일 전</span>
                    </div>
                  </div>
                  <button class="cardset-more btn" type="button">
                    <span class="visually-hidden">더보기</span>
                  </button>
                </div>
                <div class="cardset-body">
                  <h5 class="cardset-tit">코딩을 가장 쉽고 빠르게 템플릿 하우스</h5>
                  <p class="cardset-desc">원하는 블록을 가져다 놓기만 하세요. <br>시간 단축, 업무 생산성을 200% 올릴 수 있습니다.</p>
                </div>
                <div class="cardset-footer">
                  <ul class="cardset-footlist">
                    <li class="cardset-footitem">
                      <button class="btn btn-share" type="button">
                        <i class="visually-hidden">공유</i>
                      </button>
                      <span>232</span>
                    </li>
                    <li class="cardset-footitem">
                      <button class="btn btn-favorite" type="button">
                        <i class="visually-hidden">찜</i>
                      </button>
                      <span>232</span>
                    </li>
                    <li class="cardset-footitem">
                      <button class="btn btn-like" type="button">
                        <i class="visually-hidden">좋아요</i>
                      </button>
                      <span>232</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col-7">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="cardset cardset-sns">
                <div class="cardset-header">
                  <div class="cardset-subject">
                    <figure class="cardset-figure">
                      <img class="cardset-img" src="https://picsum.photos/id/64/400/300" alt="이미지">
                    </figure>
                    <div class="cardset-info">
                      <strong>TemplateHouse</strong>
                      <span>3일 전</span>
                    </div>
                  </div>
                  <button class="cardset-more btn" type="button">
                    <span class="visually-hidden">더보기</span>
                  </button>
                </div>
                <div class="cardset-body">
                  <h5 class="cardset-tit">코딩을 가장 쉽고 빠르게 템플릿 하우스</h5>
                  <p class="cardset-desc">원하는 블록을 가져다 놓기만 하세요. <br>시간 단축, 업무 생산성을 200% 올릴 수 있습니다.</p>
                </div>
                <div class="cardset-footer">
                  <ul class="cardset-footlist">
                    <li class="cardset-footitem">
                      <button class="btn btn-share" type="button">
                        <i class="visually-hidden">공유</i>
                      </button>
                      <span>232</span>
                    </li>
                    <li class="cardset-footitem">
                      <button class="btn btn-favorite" type="button">
                        <i class="visually-hidden">찜</i>
                      </button>
                      <span>232</span>
                    </li>
                    <li class="cardset-footitem">
                      <button class="btn btn-like" type="button">
                        <i class="visually-hidden">좋아요</i>
                      </button>
                      <span>232</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- //container -->

  <!-- script -->
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="./views/view.js"></script>
  <script src="./resources/template.js"></script>
  <!-- //script -->
</body>

</html>