<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="imagetoolbar" content="no">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <title>요소</title>
  <!-- style -->
  <link rel="stylesheet" href="./views/view.css">
  <link rel="stylesheet" href="./resources/template.css">
  <!-- //style -->
</head>

<body>
  <!-- container -->
  <div class="template-container">
    <h1 class="template-title"></h1>
    <div class="template-asset">
      <div class="row">
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="inputset inputset-lg">
                <input type="text" class="inputset-input form-control" placeholder="내용을 입력하세요" aria-label="내용">
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="inputset">
                <input type="text" class="inputset-input form-control" placeholder="내용을 입력하세요" aria-label="내용">
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="inputset inputset-sm">
                <input type="text" class="inputset-input form-control" placeholder="내용을 입력하세요" aria-label="내용">
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="inputset inputset-sm">
                <input type="text" class="inputset-input form-control" placeholder="내용을 입력하세요" aria-label="내용" disabled>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="inputset inputset-line inputset-lg">
                <input type="text" class="inputset-input form-control" placeholder="내용을 입력하세요" aria-label="내용">
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="inputset inputset-line">
                <input type="text" class="inputset-input form-control" placeholder="내용을 입력하세요" aria-label="내용">
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="inputset inputset-line inputset-sm">
                <input type="text" class="inputset-input form-control" placeholder="내용을 입력하세요" aria-label="내용">
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="inputset inputset-line inputset-sm">
                <input type="text" class="inputset-input form-control" placeholder="내용을 입력하세요" aria-label="내용" disabled>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="inputset inputset-round inputset-lg">
                <input type="text" class="inputset-input form-control" placeholder="내용을 입력하세요" aria-label="내용">
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="inputset inputset-round">
                <input type="text" class="inputset-input form-control" placeholder="내용을 입력하세요" aria-label="내용">
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="inputset inputset-round inputset-sm">
                <input type="text" class="inputset-input form-control" placeholder="내용을 입력하세요" aria-label="내용">
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="inputset inputset-round inputset-sm">
                <input type="text" class="inputset-input form-control" placeholder="내용을 입력하세요" aria-label="내용" disabled>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="inputset">
                <span class="inputset-icon icon-left icon-human" aria-label="아이콘"></span>
                <input type="text" class="inputset-input form-control" placeholder="내용을 입력하세요" aria-label="내용">
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="inputset">
                <span class="inputset-icon icon-right icon-human" aria-label="아이콘"></span>
                <input type="text" class="inputset-input form-control" placeholder="내용을 입력하세요" aria-label="내용">
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="inputset">
                <button class="inputset-icon icon-left icon-search btn" type="button" aria-label="아이콘"></button>
                <input type="text" class="inputset-input form-control" placeholder="내용을 입력하세요" aria-label="내용">
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="inputset">
                <button class="inputset-icon icon-right icon-search btn" type="button" aria-label="아이콘"></button>
                <input type="text" class="inputset-input form-control" placeholder="내용을 입력하세요" aria-label="내용">
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="inputset inputset-danger">
                <input type="text" class="inputset-input form-control" placeholder="내용을 입력하세요" aria-label="내용">
              </div>
              <p class="inputset-msg">Danger 메시지입니다.</p>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="inputset inputset-warning">
                <input type="text" class="inputset-input form-control" placeholder="내용을 입력하세요" aria-label="내용">
              </div>
              <p class="inputset-msg">Warning 메시지입니다.</p>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="inputset inputset-success">
                <input type="text" class="inputset-input form-control" placeholder="내용을 입력하세요" aria-label="내용">
              </div>
              <p class="inputset-msg">Success 메시지입니다.</p>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="inputset inputset-danger">
                <span class="inputset-icon icon-left icon-human" aria-label="아이콘"></span>
                <input type="text" class="inputset-input form-control" placeholder="내용을 입력하세요" aria-label="내용">
              </div>
              <p class="inputset-msg">Danger 메시지입니다.</p>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="inputset inputset-warning">
                <span class="inputset-icon icon-left icon-human" aria-label="아이콘"></span>
                <input type="text" class="inputset-input form-control" placeholder="내용을 입력하세요" aria-label="내용">
              </div>
              <p class="inputset-msg">Warning 메시지입니다.</p>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="inputset inputset-success">
                <span class="inputset-icon icon-left icon-human" aria-label="아이콘"></span>
                <input type="text" class="inputset-input form-control" placeholder="내용을 입력하세요" aria-label="내용">
              </div>
              <p class="inputset-msg">Success 메시지입니다.</p>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- //container -->

  <!-- script -->
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="./views/view.js"></script>
  <script src="./resources/template.js"></script>
  <!-- //script -->
</body>

</html>