<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="imagetoolbar" content="no">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <title>요소</title>
  <!-- style -->
  <link rel="stylesheet" href="./views/view.css">
  <link rel="stylesheet" href="./resources/template.css">
  <!-- //style -->
</head>

<body>
  <!-- container -->
  <div class="template-container">
    <h1 class="template-title"></h1>
    <div class="template-asset">
      <div class="row">
        <div class="col-3">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="switchset switchset-type1">
                <label class="switchset-label">
                  <input class="switchset-input visually-hidden" type="checkbox" role="switch" aria-label="선택" value="" checked>
                  <span class="switchset-bg"></span>
                  <span class="switchset-thumb"></span>
                </label>
              </div>
              <div class="switchset switchset-type1">
                <label class="switchset-label">
                  <input class="switchset-input visually-hidden" type="checkbox" role="switch" aria-label="선택" value="">
                  <span class="switchset-bg"></span>
                  <span class="switchset-thumb"></span>
                </label>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col-3">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="switchset switchset-type1">
                <label class="switchset-label">
                  <input class="switchset-input visually-hidden" type="checkbox" role="switch" aria-label="선택" value="" disabled>
                  <span class="switchset-bg"></span>
                  <span class="switchset-thumb"></span>
                </label>
              </div>
              <div class="switchset switchset-type1">
                <label class="switchset-label">
                  <input class="switchset-input visually-hidden" type="checkbox" role="switch" aria-label="선택" value="" checked disabled>
                  <span class="switchset-bg"></span>
                  <span class="switchset-thumb"></span>
                </label>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col-6">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="switchset switchset-type1">
                <label class="switchset-label">
                  <input class="switchset-input visually-hidden" type="checkbox" role="switch" aria-label="선택" value="" checked>
                  <span class="switchset-bg"></span>
                  <span class="switchset-thumb"></span>
                </label>
                <span class="switchset-tit">템플릿하우스</span>
              </div>
              <div class="switchset switchset-type1">
                <label class="switchset-label">
                  <input class="switchset-input visually-hidden" type="checkbox" role="switch" aria-label="선택" value="">
                  <span class="switchset-bg"></span>
                  <span class="switchset-thumb"></span>
                </label>
                <span class="switchset-tit">템플릿하우스</span>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="switchset switchset-type1 switchset-sm">
                <label class="switchset-label">
                  <input class="switchset-input visually-hidden" type="checkbox" role="switch" aria-label="선택" value="" checked>
                  <span class="switchset-bg"></span>
                  <span class="switchset-thumb"></span>
                </label>
              </div>
              <div class="switchset switchset-type1 switchset-sm">
                <label class="switchset-label">
                  <input class="switchset-input visually-hidden" type="checkbox" role="switch" aria-label="선택" value="">
                  <span class="switchset-bg"></span>
                  <span class="switchset-thumb"></span>
                </label>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col-3">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="switchset switchset-type1 switchset-sm">
                <label class="switchset-label">
                  <input class="switchset-input visually-hidden" type="checkbox" role="switch" aria-label="선택" value="" disabled>
                  <span class="switchset-bg"></span>
                  <span class="switchset-thumb"></span>
                </label>
              </div>
              <div class="switchset switchset-type1 switchset-sm">
                <label class="switchset-label">
                  <input class="switchset-input visually-hidden" type="checkbox" role="switch" aria-label="선택" value="" checked disabled>
                  <span class="switchset-bg"></span>
                  <span class="switchset-thumb"></span>
                </label>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col-6">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="switchset switchset-type1 switchset-sm">
                <label class="switchset-label">
                  <input class="switchset-input visually-hidden" type="checkbox" role="switch" aria-label="선택" value="" checked>
                  <span class="switchset-bg"></span>
                  <span class="switchset-thumb"></span>
                </label>
                <span class="switchset-tit">템플릿하우스</span>
              </div>
              <div class="switchset switchset-type1 switchset-sm">
                <label class="switchset-label">
                  <input class="switchset-input visually-hidden" type="checkbox" role="switch" aria-label="선택" value="">
                  <span class="switchset-bg"></span>
                  <span class="switchset-thumb"></span>
                </label>
                <span class="switchset-tit">템플릿하우스</span>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="switchset switchset-type2">
                <label class="switchset-label">
                  <input class="switchset-input visually-hidden" type="checkbox" role="switch" aria-label="선택" value="" checked>
                  <span class="switchset-bg"></span>
                  <span class="switchset-thumb"></span>
                </label>
              </div>
              <div class="switchset switchset-type2">
                <label class="switchset-label">
                  <input class="switchset-input visually-hidden" type="checkbox" role="switch" aria-label="선택" value="">
                  <span class="switchset-bg"></span>
                  <span class="switchset-thumb"></span>
                </label>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col-3">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="switchset switchset-type2">
                <label class="switchset-label">
                  <input class="switchset-input visually-hidden" type="checkbox" role="switch" aria-label="선택" value="" disabled>
                  <span class="switchset-bg"></span>
                  <span class="switchset-thumb"></span>
                </label>
              </div>
              <div class="switchset switchset-type2">
                <label class="switchset-label">
                  <input class="switchset-input visually-hidden" type="checkbox" role="switch" aria-label="선택" value="" checked disabled>
                  <span class="switchset-bg"></span>
                  <span class="switchset-thumb"></span>
                </label>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col-6">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="switchset switchset-type2">
                <label class="switchset-label">
                  <input class="switchset-input visually-hidden" type="checkbox" role="switch" aria-label="선택" value="" checked>
                  <span class="switchset-bg"></span>
                  <span class="switchset-thumb"></span>
                </label>
                <span class="switchset-tit">템플릿하우스</span>
              </div>
              <div class="switchset switchset-type2">
                <label class="switchset-label">
                  <input class="switchset-input visually-hidden" type="checkbox" role="switch" aria-label="선택" value="">
                  <span class="switchset-bg"></span>
                  <span class="switchset-thumb"></span>
                </label>
                <span class="switchset-tit">템플릿하우스</span>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="switchset switchset-type2 switchset-sm">
                <label class="switchset-label">
                  <input class="switchset-input visually-hidden" type="checkbox" role="switch" aria-label="선택" value="" checked>
                  <span class="switchset-bg"></span>
                  <span class="switchset-thumb"></span>
                </label>
              </div>
              <div class="switchset switchset-type2 switchset-sm">
                <label class="switchset-label">
                  <input class="switchset-input visually-hidden" type="checkbox" role="switch" aria-label="선택" value="">
                  <span class="switchset-bg"></span>
                  <span class="switchset-thumb"></span>
                </label>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col-3">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="switchset switchset-type2 switchset-sm">
                <label class="switchset-label">
                  <input class="switchset-input visually-hidden" type="checkbox" role="switch" aria-label="선택" value="" disabled>
                  <span class="switchset-bg"></span>
                  <span class="switchset-thumb"></span>
                </label>
              </div>
              <div class="switchset switchset-type2 switchset-sm">
                <label class="switchset-label">
                  <input class="switchset-input visually-hidden" type="checkbox" role="switch" aria-label="선택" value="" checked disabled>
                  <span class="switchset-bg"></span>
                  <span class="switchset-thumb"></span>
                </label>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col-6">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="switchset switchset-type2 switchset-sm">
                <label class="switchset-label">
                  <input class="switchset-input visually-hidden" type="checkbox" role="switch" aria-label="선택" value="" checked>
                  <span class="switchset-bg"></span>
                  <span class="switchset-thumb"></span>
                </label>
                <span class="switchset-tit">템플릿하우스</span>
              </div>
              <div class="switchset switchset-type2 switchset-sm">
                <label class="switchset-label">
                  <input class="switchset-input visually-hidden" type="checkbox" role="switch" aria-label="선택" value="">
                  <span class="switchset-bg"></span>
                  <span class="switchset-thumb"></span>
                </label>
                <span class="switchset-tit">템플릿하우스</span>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="switchset switchset-type3">
                <label class="switchset-label">
                  <input class="switchset-input visually-hidden" type="checkbox" role="switch" aria-label="선택" value="" checked>
                  <span class="switchset-bg"></span>
                  <span class="switchset-thumb"></span>
                </label>
              </div>
              <div class="switchset switchset-type3">
                <label class="switchset-label">
                  <input class="switchset-input visually-hidden" type="checkbox" role="switch" aria-label="선택" value="">
                  <span class="switchset-bg"></span>
                  <span class="switchset-thumb"></span>
                </label>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col-3">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="switchset switchset-type3">
                <label class="switchset-label">
                  <input class="switchset-input visually-hidden" type="checkbox" role="switch" aria-label="선택" value="" disabled>
                  <span class="switchset-bg"></span>
                  <span class="switchset-thumb"></span>
                </label>
              </div>
              <div class="switchset switchset-type3">
                <label class="switchset-label">
                  <input class="switchset-input visually-hidden" type="checkbox" role="switch" aria-label="선택" value="" checked disabled>
                  <span class="switchset-bg"></span>
                  <span class="switchset-thumb"></span>
                </label>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col-6">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="switchset switchset-type3">
                <label class="switchset-label">
                  <input class="switchset-input visually-hidden" type="checkbox" role="switch" aria-label="선택" value="" checked>
                  <span class="switchset-bg"></span>
                  <span class="switchset-thumb"></span>
                </label>
                <span class="switchset-tit">템플릿하우스</span>
              </div>
              <div class="switchset switchset-type3">
                <label class="switchset-label">
                  <input class="switchset-input visually-hidden" type="checkbox" role="switch" aria-label="선택" value="">
                  <span class="switchset-bg"></span>
                  <span class="switchset-thumb"></span>
                </label>
                <span class="switchset-tit">템플릿하우스</span>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="switchset switchset-type3 switchset-sm">
                <label class="switchset-label">
                  <input class="switchset-input visually-hidden" type="checkbox" role="switch" aria-label="선택" value="" checked>
                  <span class="switchset-bg"></span>
                  <span class="switchset-thumb"></span>
                </label>
              </div>
              <div class="switchset switchset-type3 switchset-sm">
                <label class="switchset-label">
                  <input class="switchset-input visually-hidden" type="checkbox" role="switch" aria-label="선택" value="">
                  <span class="switchset-bg"></span>
                  <span class="switchset-thumb"></span>
                </label>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col-3">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="switchset switchset-type3 switchset-sm">
                <label class="switchset-label">
                  <input class="switchset-input visually-hidden" type="checkbox" role="switch" aria-label="선택" value="" disabled>
                  <span class="switchset-bg"></span>
                  <span class="switchset-thumb"></span>
                </label>
              </div>
              <div class="switchset switchset-type3 switchset-sm">
                <label class="switchset-label">
                  <input class="switchset-input visually-hidden" type="checkbox" role="switch" aria-label="선택" value="" checked disabled>
                  <span class="switchset-bg"></span>
                  <span class="switchset-thumb"></span>
                </label>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col-6">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="switchset switchset-type3 switchset-sm">
                <label class="switchset-label">
                  <input class="switchset-input visually-hidden" type="checkbox" role="switch" aria-label="선택" value="" checked>
                  <span class="switchset-bg"></span>
                  <span class="switchset-thumb"></span>
                </label>
                <span class="switchset-tit">템플릿하우스</span>
              </div>
              <div class="switchset switchset-type3 switchset-sm">
                <label class="switchset-label">
                  <input class="switchset-input visually-hidden" type="checkbox" role="switch" aria-label="선택" value="">
                  <span class="switchset-bg"></span>
                  <span class="switchset-thumb"></span>
                </label>
                <span class="switchset-tit">템플릿하우스</span>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- //container -->

  <!-- script -->
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="./views/view.js"></script>
  <script src="./resources/template.js"></script>
  <!-- //script -->
</body>

</html>