<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="imagetoolbar" content="no">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <title>요소</title>
  <!-- style -->
  <link rel="stylesheet" href="./views/view.css">
  <link rel="stylesheet" href="./resources/template.css">
  <!-- //style -->
</head>

<body>
  <!-- container -->
  <div class="template-container">
    <h1 class="template-title"></h1>
    <div class="template-asset">
      <div class="row">
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="tabset tabset-fluid border-bottom">
                <ul class="tabset-list tabset-lg">
                  <li class="tabset-item">
                    <a class="tabset-link" href="javascript:void(0)"><span>전체</span></a>
                  </li>
                  <li class="tabset-item">
                    <a class="tabset-link active" href="javascript:void(0)"><span>주요기능</span></a>
                  </li>
                  <li class="tabset-item">
                    <a class="tabset-link" href="javascript:void(0)"><span>템플릿</span></a>
                  </li>
                  <li class="tabset-item">
                    <a class="tabset-link" href="javascript:void(0)"><span>요금</span></a>
                  </li>
                  <li class="tabset-item">
                    <a class="tabset-link" href="javascript:void(0)"><span>고객지원</span></a>
                  </li>
                </ul>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="tabset tabset-fluid border-bottom">
                <ul class="tabset-list tabset-sm">
                  <li class="tabset-item">
                    <a class="tabset-link" href="javascript:void(0)"><span>전체</span></a>
                  </li>
                  <li class="tabset-item">
                    <a class="tabset-link active" href="javascript:void(0)"><span>주요기능</span></a>
                  </li>
                  <li class="tabset-item">
                    <a class="tabset-link" href="javascript:void(0)"><span>템플릿</span></a>
                  </li>
                  <li class="tabset-item">
                    <a class="tabset-link" href="javascript:void(0)"><span>요금</span></a>
                  </li>
                  <li class="tabset-item">
                    <a class="tabset-link" href="javascript:void(0)"><span>고객지원</span></a>
                  </li>
                </ul>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="tabset tabset-fluid">
                <ul class="tabset-list tabset-lg">
                  <li class="tabset-item">
                    <a class="tabset-link" href="javascript:void(0)"><span>전체</span></a>
                  </li>
                  <li class="tabset-item">
                    <a class="tabset-link active" href="javascript:void(0)"><span>주요기능</span></a>
                  </li>
                  <li class="tabset-item">
                    <a class="tabset-link" href="javascript:void(0)"><span>템플릿</span></a>
                  </li>
                  <li class="tabset-item">
                    <a class="tabset-link" href="javascript:void(0)"><span>요금</span></a>
                  </li>
                  <li class="tabset-item">
                    <a class="tabset-link" href="javascript:void(0)"><span>고객지원</span></a>
                  </li>
                </ul>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="tabset tabset-fluid">
                <ul class="tabset-list tabset-sm">
                  <li class="tabset-item">
                    <a class="tabset-link" href="javascript:void(0)"><span>전체</span></a>
                  </li>
                  <li class="tabset-item">
                    <a class="tabset-link active" href="javascript:void(0)"><span>주요기능</span></a>
                  </li>
                  <li class="tabset-item">
                    <a class="tabset-link" href="javascript:void(0)"><span>템플릿</span></a>
                  </li>
                  <li class="tabset-item">
                    <a class="tabset-link" href="javascript:void(0)"><span>요금</span></a>
                  </li>
                  <li class="tabset-item">
                    <a class="tabset-link" href="javascript:void(0)"><span>고객지원</span></a>
                  </li>
                </ul>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="tabset tabset-solid border-bottom">
                <ul class="tabset-list tabset-lg">
                  <li class="tabset-item">
                    <a class="tabset-link" href="javascript:void(0)"><span>전체</span></a>
                  </li>
                  <li class="tabset-item">
                    <a class="tabset-link active" href="javascript:void(0)"><span>주요기능</span></a>
                  </li>
                  <li class="tabset-item">
                    <a class="tabset-link" href="javascript:void(0)"><span>템플릿</span></a>
                  </li>
                  <li class="tabset-item">
                    <a class="tabset-link" href="javascript:void(0)"><span>요금</span></a>
                  </li>
                  <li class="tabset-item">
                    <a class="tabset-link" href="javascript:void(0)"><span>고객지원</span></a>
                  </li>
                </ul>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="tabset tabset-solid border-bottom">
                <ul class="tabset-list tabset-sm">
                  <li class="tabset-item">
                    <a class="tabset-link" href="javascript:void(0)"><span>전체</span></a>
                  </li>
                  <li class="tabset-item">
                    <a class="tabset-link active" href="javascript:void(0)"><span>주요기능</span></a>
                  </li>
                  <li class="tabset-item">
                    <a class="tabset-link" href="javascript:void(0)"><span>템플릿</span></a>
                  </li>
                  <li class="tabset-item">
                    <a class="tabset-link" href="javascript:void(0)"><span>요금</span></a>
                  </li>
                  <li class="tabset-item">
                    <a class="tabset-link" href="javascript:void(0)"><span>고객지원</span></a>
                  </li>
                </ul>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="tabset tabset-solid">
                <ul class="tabset-list tabset-lg">
                  <li class="tabset-item">
                    <a class="tabset-link" href="javascript:void(0)"><span>전체</span></a>
                  </li>
                  <li class="tabset-item">
                    <a class="tabset-link active" href="javascript:void(0)"><span>주요기능</span></a>
                  </li>
                  <li class="tabset-item">
                    <a class="tabset-link" href="javascript:void(0)"><span>템플릿</span></a>
                  </li>
                  <li class="tabset-item">
                    <a class="tabset-link" href="javascript:void(0)"><span>요금</span></a>
                  </li>
                  <li class="tabset-item">
                    <a class="tabset-link" href="javascript:void(0)"><span>고객지원</span></a>
                  </li>
                </ul>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="tabset tabset-solid">
                <ul class="tabset-list tabset-sm">
                  <li class="tabset-item">
                    <a class="tabset-link" href="javascript:void(0)"><span>전체</span></a>
                  </li>
                  <li class="tabset-item">
                    <a class="tabset-link active" href="javascript:void(0)"><span>주요기능</span></a>
                  </li>
                  <li class="tabset-item">
                    <a class="tabset-link" href="javascript:void(0)"><span>템플릿</span></a>
                  </li>
                  <li class="tabset-item">
                    <a class="tabset-link" href="javascript:void(0)"><span>요금</span></a>
                  </li>
                  <li class="tabset-item">
                    <a class="tabset-link" href="javascript:void(0)"><span>고객지원</span></a>
                  </li>
                </ul>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="tabset tabset-text">
                <ul class="tabset-list tabset-lg">
                  <li class="tabset-item">
                    <a class="tabset-link" href="javascript:void(0)"><span>전체</span></a>
                  </li>
                  <li class="tabset-item">
                    <a class="tabset-link active" href="javascript:void(0)"><span>주요기능</span></a>
                  </li>
                  <li class="tabset-item">
                    <a class="tabset-link" href="javascript:void(0)"><span>템플릿</span></a>
                  </li>
                  <li class="tabset-item">
                    <a class="tabset-link" href="javascript:void(0)"><span>요금</span></a>
                  </li>
                  <li class="tabset-item">
                    <a class="tabset-link" href="javascript:void(0)"><span>고객지원</span></a>
                  </li>
                </ul>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="tabset tabset-text">
                <ul class="tabset-list tabset-sm">
                  <li class="tabset-item">
                    <a class="tabset-link" href="javascript:void(0)"><span>전체</span></a>
                  </li>
                  <li class="tabset-item">
                    <a class="tabset-link active" href="javascript:void(0)"><span>주요기능</span></a>
                  </li>
                  <li class="tabset-item">
                    <a class="tabset-link" href="javascript:void(0)"><span>템플릿</span></a>
                  </li>
                  <li class="tabset-item">
                    <a class="tabset-link" href="javascript:void(0)"><span>요금</span></a>
                  </li>
                  <li class="tabset-item">
                    <a class="tabset-link" href="javascript:void(0)"><span>고객지원</span></a>
                  </li>
                </ul>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="tabset tabset-brick">
                <ul class="tabset-list tabset-lg tabset-fill">
                  <li class="tabset-item">
                    <a class="tabset-link" href="javascript:void(0)"><span>전체</span></a>
                  </li>
                  <li class="tabset-item">
                    <a class="tabset-link active" href="javascript:void(0)"><span>주요기능</span></a>
                  </li>
                  <li class="tabset-item">
                    <a class="tabset-link" href="javascript:void(0)"><span>템플릿</span></a>
                  </li>
                  <li class="tabset-item">
                    <a class="tabset-link" href="javascript:void(0)"><span>요금</span></a>
                  </li>
                  <li class="tabset-item">
                    <a class="tabset-link" href="javascript:void(0)"><span>고객지원</span></a>
                  </li>
                </ul>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="tabset tabset-brick">
                <ul class="tabset-list tabset-sm tabset-fill">
                  <li class="tabset-item">
                    <a class="tabset-link" href="javascript:void(0)"><span>전체</span></a>
                  </li>
                  <li class="tabset-item">
                    <a class="tabset-link active" href="javascript:void(0)"><span>주요기능</span></a>
                  </li>
                  <li class="tabset-item">
                    <a class="tabset-link" href="javascript:void(0)"><span>템플릿</span></a>
                  </li>
                  <li class="tabset-item">
                    <a class="tabset-link" href="javascript:void(0)"><span>요금</span></a>
                  </li>
                  <li class="tabset-item">
                    <a class="tabset-link" href="javascript:void(0)"><span>고객지원</span></a>
                  </li>
                </ul>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="tabset tabset-brick">
                <ul class="tabset-list tabset-lg tabset-line">
                  <li class="tabset-item">
                    <a class="tabset-link" href="javascript:void(0)"><span>전체</span></a>
                  </li>
                  <li class="tabset-item">
                    <a class="tabset-link active" href="javascript:void(0)"><span>주요기능</span></a>
                  </li>
                  <li class="tabset-item">
                    <a class="tabset-link" href="javascript:void(0)"><span>템플릿</span></a>
                  </li>
                  <li class="tabset-item">
                    <a class="tabset-link" href="javascript:void(0)"><span>요금</span></a>
                  </li>
                  <li class="tabset-item">
                    <a class="tabset-link" href="javascript:void(0)"><span>고객지원</span></a>
                  </li>
                </ul>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="tabset tabset-brick">
                <ul class="tabset-list tabset-sm tabset-line">
                  <li class="tabset-item">
                    <a class="tabset-link" href="javascript:void(0)"><span>전체</span></a>
                  </li>
                  <li class="tabset-item">
                    <a class="tabset-link active" href="javascript:void(0)"><span>주요기능</span></a>
                  </li>
                  <li class="tabset-item">
                    <a class="tabset-link" href="javascript:void(0)"><span>템플릿</span></a>
                  </li>
                  <li class="tabset-item">
                    <a class="tabset-link" href="javascript:void(0)"><span>요금</span></a>
                  </li>
                  <li class="tabset-item">
                    <a class="tabset-link" href="javascript:void(0)"><span>고객지원</span></a>
                  </li>
                </ul>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="tabset tabset-round">
                <ul class="tabset-list tabset-lg tabset-fill">
                  <li class="tabset-item">
                    <a class="tabset-link" href="javascript:void(0)"><span>전체</span></a>
                  </li>
                  <li class="tabset-item">
                    <a class="tabset-link active" href="javascript:void(0)"><span>주요기능</span></a>
                  </li>
                  <li class="tabset-item">
                    <a class="tabset-link" href="javascript:void(0)"><span>템플릿</span></a>
                  </li>
                  <li class="tabset-item">
                    <a class="tabset-link" href="javascript:void(0)"><span>요금</span></a>
                  </li>
                  <li class="tabset-item">
                    <a class="tabset-link" href="javascript:void(0)"><span>고객지원</span></a>
                  </li>
                </ul>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="tabset tabset-round">
                <ul class="tabset-list tabset-sm tabset-fill">
                  <li class="tabset-item">
                    <a class="tabset-link" href="javascript:void(0)"><span>전체</span></a>
                  </li>
                  <li class="tabset-item">
                    <a class="tabset-link active" href="javascript:void(0)"><span>주요기능</span></a>
                  </li>
                  <li class="tabset-item">
                    <a class="tabset-link" href="javascript:void(0)"><span>템플릿</span></a>
                  </li>
                  <li class="tabset-item">
                    <a class="tabset-link" href="javascript:void(0)"><span>요금</span></a>
                  </li>
                  <li class="tabset-item">
                    <a class="tabset-link" href="javascript:void(0)"><span>고객지원</span></a>
                  </li>
                </ul>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="tabset tabset-round">
                <ul class="tabset-list tabset-lg tabset-line">
                  <li class="tabset-item">
                    <a class="tabset-link" href="javascript:void(0)"><span>전체</span></a>
                  </li>
                  <li class="tabset-item">
                    <a class="tabset-link active" href="javascript:void(0)"><span>주요기능</span></a>
                  </li>
                  <li class="tabset-item">
                    <a class="tabset-link" href="javascript:void(0)"><span>템플릿</span></a>
                  </li>
                  <li class="tabset-item">
                    <a class="tabset-link" href="javascript:void(0)"><span>요금</span></a>
                  </li>
                  <li class="tabset-item">
                    <a class="tabset-link" href="javascript:void(0)"><span>고객지원</span></a>
                  </li>
                </ul>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="tabset tabset-round">
                <ul class="tabset-list tabset-sm tabset-line">
                  <li class="tabset-item">
                    <a class="tabset-link" href="javascript:void(0)"><span>전체</span></a>
                  </li>
                  <li class="tabset-item">
                    <a class="tabset-link active" href="javascript:void(0)"><span>주요기능</span></a>
                  </li>
                  <li class="tabset-item">
                    <a class="tabset-link" href="javascript:void(0)"><span>템플릿</span></a>
                  </li>
                  <li class="tabset-item">
                    <a class="tabset-link" href="javascript:void(0)"><span>요금</span></a>
                  </li>
                  <li class="tabset-item">
                    <a class="tabset-link" href="javascript:void(0)"><span>고객지원</span></a>
                  </li>
                </ul>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="tabset tabset-panel">
                <ul class="tabset-list tabset-lg">
                  <li class="tabset-item">
                    <a class="tabset-link" href="javascript:void(0)"><span>전체</span></a>
                  </li>
                  <li class="tabset-item">
                    <a class="tabset-link active" href="javascript:void(0)"><span>주요기능</span></a>
                  </li>
                  <li class="tabset-item">
                    <a class="tabset-link" href="javascript:void(0)"><span>템플릿</span></a>
                  </li>
                  <li class="tabset-item">
                    <a class="tabset-link" href="javascript:void(0)"><span>요금</span></a>
                  </li>
                  <li class="tabset-item">
                    <a class="tabset-link" href="javascript:void(0)"><span>고객지원</span></a>
                  </li>
                </ul>
                <div class="tabset-container">
                  <div class="tabset-cont">
                    <p class="p1">
                      1. 템플릿하우스는 코딩을 가장쉽고 빠르게 만들 수 있습니다. <br>원하는 블록을 가져다 놓기만 하세요. 시간 단축, 업무생산성을 높여줍니다.
                    </p>
                  </div>
                  <div class="tabset-cont active">
                    <p class="p1">
                      2. 템플릿하우스는 코딩을 가장쉽고 빠르게 만들 수 있습니다. <br>원하는 블록을 가져다 놓기만 하세요. 시간 단축, 업무생산성을 높여줍니다.
                    </p>
                  </div>
                  <div class="tabset-cont">
                    <p class="p1">
                      3. 템플릿하우스는 코딩을 가장쉽고 빠르게 만들 수 있습니다. <br>원하는 블록을 가져다 놓기만 하세요. 시간 단축, 업무생산성을 높여줍니다.
                    </p>
                  </div>
                  <div class="tabset-cont">
                    <p class="p1">
                      4. 템플릿하우스는 코딩을 가장쉽고 빠르게 만들 수 있습니다. <br>원하는 블록을 가져다 놓기만 하세요. 시간 단축, 업무생산성을 높여줍니다.
                    </p>
                  </div>
                  <div class="tabset-cont">
                    <p class="p1">
                      5. 템플릿하우스는 코딩을 가장쉽고 빠르게 만들 수 있습니다. <br>원하는 블록을 가져다 놓기만 하세요. 시간 단축, 업무생산성을 높여줍니다.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="tabset tabset-panel">
                <ul class="tabset-list tabset-sm">
                  <li class="tabset-item">
                    <a class="tabset-link" href="javascript:void(0)"><span>전체</span></a>
                  </li>
                  <li class="tabset-item">
                    <a class="tabset-link active" href="javascript:void(0)"><span>주요기능</span></a>
                  </li>
                  <li class="tabset-item">
                    <a class="tabset-link" href="javascript:void(0)"><span>템플릿</span></a>
                  </li>
                  <li class="tabset-item">
                    <a class="tabset-link" href="javascript:void(0)"><span>요금</span></a>
                  </li>
                  <li class="tabset-item">
                    <a class="tabset-link" href="javascript:void(0)"><span>고객지원</span></a>
                  </li>
                </ul>
                <div class="tabset-container">
                  <div class="tabset-cont">
                    <p class="p1">
                      1. 템플릿하우스는 코딩을 가장쉽고 빠르게 만들 수 있습니다. <br>원하는 블록을 가져다 놓기만 하세요. 시간 단축, 업무생산성을 높여줍니다.
                    </p>
                  </div>
                  <div class="tabset-cont active">
                    <p class="p1">
                      2. 템플릿하우스는 코딩을 가장쉽고 빠르게 만들 수 있습니다. <br>원하는 블록을 가져다 놓기만 하세요. 시간 단축, 업무생산성을 높여줍니다.
                    </p>
                  </div>
                  <div class="tabset-cont">
                    <p class="p1">
                      3. 템플릿하우스는 코딩을 가장쉽고 빠르게 만들 수 있습니다. <br>원하는 블록을 가져다 놓기만 하세요. 시간 단축, 업무생산성을 높여줍니다.
                    </p>
                  </div>
                  <div class="tabset-cont">
                    <p class="p1">
                      4. 템플릿하우스는 코딩을 가장쉽고 빠르게 만들 수 있습니다. <br>원하는 블록을 가져다 놓기만 하세요. 시간 단축, 업무생산성을 높여줍니다.
                    </p>
                  </div>
                  <div class="tabset-cont">
                    <p class="p1">
                      5. 템플릿하우스는 코딩을 가장쉽고 빠르게 만들 수 있습니다. <br>원하는 블록을 가져다 놓기만 하세요. 시간 단축, 업무생산성을 높여줍니다.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- //container -->

  <!-- script -->
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="./views/view.js"></script>
  <script src="./resources/template.js"></script>
  <!-- //script -->
</body>

</html>