<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="imagetoolbar" content="no">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <title>요소</title>
  <!-- style -->
  <link rel="stylesheet" href="./views/view.css">
  <link rel="stylesheet" href="./resources/template.css">
  <!-- //style -->
</head>

<body>
  <!-- container -->
  <div class="template-container">
    <h1 class="template-title"></h1>
    <div class="template-asset">
      <div class="row">
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="textset">
                <h1 class="textset-tit h1">H1. 페이지 타이틀</h1>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="textset">
                <h2 class="textset-tit h2">H2. 프로세스 타이틀</h2>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="textset">
                <h3 class="textset-tit h3">H3. 그룹 타이틀</h3>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="textset">
                <h4 class="textset-tit h4">H4. 그룹 서브 타이틀</h4>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="textset">
                <h5 class="textset-tit h5">H5. 콘텐츠 타이틀</h5>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="textset">
                <h5 class="textset-tit h6">H6. 콘텐츠 타이틀</h5>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="textset">
                <p class="textset-desc p1 fw-bold">템플릿하우스는 코딩을 가장쉽고 빠르게 만들 수 있습니다. <br>원하는 블록을 가져다 놓기만 하세요. <br>시간 단축, 업무생산성을 높여줍니다.</p>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="textset">
                <p class="textset-desc p1 fw-500">템플릿하우스는 코딩을 가장쉽고 빠르게 만들 수 있습니다. <br>원하는 블록을 가져다 놓기만 하세요. <br>시간 단축, 업무생산성을 높여줍니다.</p>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="textset">
                <p class="textset-desc p1">템플릿하우스는 코딩을 가장쉽고 빠르게 만들 수 있습니다. <br>원하는 블록을 가져다 놓기만 하세요. <br>시간 단축, 업무생산성을 높여줍니다.</p>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="textset">
                <p class="textset-desc h4">템플릿하우스는 코딩을 가장쉽고 빠르게 만들 수 있습니다. <br>원하는 블록을 가져다 놓기만 하세요. <br>시간 단축, 업무생산성을 높여줍니다.</p>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="textset">
                <p class="textset-desc h5">템플릿하우스는 코딩을 가장쉽고 빠르게 만들 수 있습니다. <br>원하는 블록을 가져다 놓기만 하세요. <br>시간 단축, 업무생산성을 높여줍니다.</p>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="textset">
                <p class="textset-desc h6">템플릿하우스는 코딩을 가장쉽고 빠르게 만들 수 있습니다. <br>원하는 블록을 가져다 놓기만 하세요. <br>시간 단축, 업무생산성을 높여줍니다.</p>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="textset">
                <h2 class="textset-tit h2">코딩을 쉽고 빠르게</h2>
                <p class="textset-desc p1">원하는 블록을 가져다 놓기만 하세요. <br>시간 단축, 업무 생산성을 200% 올릴 수 있습니다.</p>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="textset">
                <p class="textset-subtit p1">템플릿하우스</p>
                <h2 class="textset-tit h2">코딩을 쉽고 빠르게</h2>
                <p class="textset-desc p1">원하는 블록을 가져다 놓기만 하세요. <br>시간 단축, 업무 생산성을 200% 올릴 수 있습니다.</p>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="textset">
                <h2 class="textset-tit h2">코딩을 쉽고 빠르게</h2>
                <p class="textset-desc p1">원하는 블록을 가져다 놓기만 하세요. <br>시간 단축, 업무 생산성을 200% 올릴 수 있습니다.</p>
                <a class="textset-more more-line" href="javascript:void(0)">Read More</a>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="textset">
                <h2 class="textset-tit h2">코딩을 쉽고 빠르게</h2>
                <p class="textset-desc p1">원하는 블록을 가져다 놓기만 하세요. <br>시간 단축, 업무 생산성을 200% 올릴 수 있습니다.</p>
                <a class="textset-more more-arrow" href="javascript:void(0)">자세히 보기</a>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="textset ff-en">
                <h2 class="textset-tit h2">Coding is the easiest and fastest</h2>
                <p class="textset-desc p1">Just bring the block you want. <br>Reduce time, you can upload 200% of work productivity.</p>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="textset ff-en">
                <p class="textset-subtit p1">TemplateHouse</p>
                <h2 class="textset-tit h2">Coding is the easiest and fastest</h2>
                <p class="textset-desc p1">Just bring the block you want. <br>Reduce time, you can upload 200% of work productivity.</p>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="textset">
                <h2 class="textset-tit h2">Coding is the easiest and fastest</h2>
                <p class="textset-desc p1">Just bring the block you want. <br>Reduce time, you can upload 200% of work productivity.</p>
                <a class="textset-more more-line" href="javascript:void(0)">Read More</a>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="textset">
                <h2 class="textset-tit h2">Coding is the easiest and fastest</h2>
                <p class="textset-desc p1">Just bring the block you want. <br>Reduce time, you can upload 200% of work productivity.</p>
                <a class="textset-more more-arrow" href="javascript:void(0)">More Details</a>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="textset textset-invert">
                <h2 class="textset-tit h2">코딩을 가장 쉽고 빠르게</h2>
                <p class="textset-desc p1">원하는 블록을 가져다 놓기만 하세요. <br>시간 단축, 업무 생산성을 200% 올릴 수 있습니다.</p>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="textset textset-invert">
                <p class="textset-subtit p1">템플릿하우스</p>
                <h2 class="textset-tit h2">코딩을 가장 쉽고 빠르게</h2>
                <p class="textset-desc p1">원하는 블록을 가져다 놓기만 하세요. <br>시간 단축, 업무 생산성을 200% 올릴 수 있습니다.</p>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="textset textset-invert">
                <h2 class="textset-tit h2">코딩을 가장 쉽고 빠르게</h2>
                <p class="textset-desc p1">원하는 블록을 가져다 놓기만 하세요. <br>시간 단축, 업무 생산성을 200% 올릴 수 있습니다.</p>
                <a class="textset-more more-line" href="javascript:void(0)">Read More</a>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div data-asset="wrap">
            <div data-asset="html">
              <div class="textset textset-invert">
                <h2 class="textset-tit h2">코딩을 가장 쉽고 빠르게</h2>
                <p class="textset-desc p1">원하는 블록을 가져다 놓기만 하세요. <br>시간 단축, 업무 생산성을 200% 올릴 수 있습니다.</p>
                <a class="textset-more more-arrow" href="javascript:void(0)">자세히 보기</a>
              </div>
            </div>
            <div data-asset="add" draggable="true" th-dragitem="true">드래그</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- //container -->

  <!-- script -->
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="./views/view.js"></script>
  <script src="./resources/template.js"></script>
  <!-- //script -->
</body>

</html>