<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="imagetoolbar" content="no">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <title>Bloom City | ABOUT</title>
  <!-- style -->
  <link rel="stylesheet" href="../resources/css/plugin.css">
  <link rel="stylesheet" href="../resources/css/template.css">
  <link rel="stylesheet" href="../resources/css/block.css">
  <!-- //style -->
</head>

<body>
  <!-- template-N1 -->
  <div class="template-N1">
    <div class="header-container container-lg">
      <div class="header-left">
        <h1 class="header-title">
          <a href="javascript:void(0)">
            <img src="../resources/images/img_logo_black.png" alt="로고">
          </a>
        </h1>
      </div>
      <div class="header-center">
        <ul class="header-member">
          <li>
            <a href="javascript:void(0)">로그인</a>
          </li>
          <li>
            <a href="javascript:void(0)">회원가입</a>
          </li>
        </ul>
        <ul class="header-gnblist">
          <li class="header-gnbitem">
            <a class="header-gnblink" href="javascript:void(0)">
              <span>ABOUT</span>
            </a>
            <ul class="header-sublist">
              <li class="header-subitem">
                <a class="header-sublink" href="javascript:void(0)">
                  <span>브랜드스토리</span>
                </a>
              </li>
              <li class="header-subitem">
                <a class="header-sublink" href="javascript:void(0)">
                  <span>층별안내</span>
                </a>
              </li>
              <li class="header-subitem">
                <a class="header-sublink" href="javascript:void(0)">
                  <span>갤러리</span>
                </a>
              </li>
              <li class="header-subitem">
                <a class="header-sublink" href="javascript:void(0)">
                  <span>멤버쉽안내</span>
                </a>
              </li>
              <li class="header-subitem">
                <a class="header-sublink" href="javascript:void(0)">
                  <span>오시는길</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="header-gnbitem">
            <a class="header-gnblink" href="javascript:void(0)">
              <span>ROOMS</span>
            </a>
          </li>
          <li class="header-gnbitem">
            <a class="header-gnblink" href="javascript:void(0)">
              <span>DINNING</span>
            </a>
          </li>
          <li class="header-gnbitem">
            <a class="header-gnblink" href="javascript:void(0)">
              <span>FACILITY</span>
            </a>
          </li>
          <li class="header-gnbitem">
            <a class="header-gnblink" href="javascript:void(0)">
              <span>MEETING&amp;WEDDING</span>
            </a>
          </li>
          <li class="header-gnbitem">
            <a class="header-gnblink" href="javascript:void(0)">
              <span>CUSTOMER</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="header-right">
        <button class="btnset btnset-rect btnset-icon icon-like" type="button">객실예약</button>
        <div class="header-utils">
          <button class="btn-allmenu">
            <img src="../resources/icons/ico_menu_black.svg" alt="PC메뉴">
          </button>
          <button class="btn-momenu">
            <img src="../resources/icons/ico_menu_black.svg" alt="모바일메뉴">
          </button>
          <button class="btn-moclose">
            <img src="../resources/icons/ico_close_black.svg" alt="닫기">
          </button>
        </div>
      </div>
    </div>
    <div class="header-fullmenu fullmenu-top">
      <div class="fullmenu-wrapper">
        <div class="fullmenu-head">
          <h4 class="fullmenu-title">
            <a href="javascript:void(0)">
              <img src="../resources/images/img_logo_white.png" alt="로고">
            </a>
          </h4>
          <ul class="fullmenu-member">
            <li>
              <a href="javascript:void(0)">로그인</a>
            </li>
            <li>
              <a href="javascript:void(0)">회원가입</a>
            </li>
          </ul>
        </div>
        <ul class="fullmenu-gnblist">
          <li class="fullmenu-gnbitem">
            <a class="fullmenu-gnblink" href="javascript:void(0)">
              <span>ABOUT</span>
            </a>
            <ul class="fullmenu-sublist">
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>브랜드스토리</span>
                </a>
              </li>
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>층별안내</span>
                </a>
              </li>
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>갤러리</span>
                </a>
              </li>
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>멤버쉽안내</span>
                </a>
              </li>
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>오시는길</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="fullmenu-gnbitem">
            <a class="fullmenu-gnblink" href="javascript:void(0)">
              <span>ROOMS</span>
            </a>
            <ul class="fullmenu-sublist">
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>전체</span>
                </a>
              </li>
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>프리미엄</span>
                </a>
              </li>
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>디럭스</span>
                </a>
              </li>
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>스탠다드</span>
                </a>
              </li>
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>헐리우드</span>
                </a>
              </li>
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>슈페리어</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="fullmenu-gnbitem">
            <a class="fullmenu-gnblink" href="javascript:void(0)">
              <span>DINNING</span>
            </a>
            <ul class="fullmenu-sublist">
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>전체</span>
                </a>
              </li>
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>레스토랑</span>
                </a>
              </li>
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>바&amp;라운지</span>
                </a>
              </li>
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>베이커리</span>
                </a>
              </li>
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>룸서비스</span>
                </a>
              </li>
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>슈페리어</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="fullmenu-gnbitem">
            <a class="fullmenu-gnblink" href="javascript:void(0)">
              <span>FACILITY</span>
            </a>
            <ul class="fullmenu-sublist">
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>피트니스 클럽</span>
                </a>
              </li>
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>골프 클럽</span>
                </a>
              </li>
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>피트니스 클럽</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="fullmenu-gnbitem">
            <a class="fullmenu-gnblink" href="javascript:void(0)">
              <span>MEETING&amp;WEDDING</span>
            </a>
          </li>
          <li class="fullmenu-gnbitem">
            <a class="fullmenu-gnblink" href="javascript:void(0)">
              <span>CUSTOMER</span>
            </a>
            <ul class="fullmenu-sublist">
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>공지사항</span>
                </a>
              </li>
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>FAQ</span>
                </a>
              </li>
              <li class="fullmenu-subitem">
                <a class="fullmenu-sublink" href="javascript:void(0)">
                  <span>고객의 소리</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <button class="fullmenu-close">
        <img src="../resources/icons/ico_close_white.svg" alt="닫기">
      </button>
    </div>
  </div>
  <!-- //template-N1 -->

  <!-- template-N15 -->
  <div class="template-N15">
    <div class="container-md">
      <div class="textset">
        <h1 class="textset-tit h1">About US</h1>
        <p class="textset-desc p1">전세계 어디에서나 품격있는 서비스와 시설로 감동을 주는 블롬시티를 소개합니다.</p>
      </div>
    </div>
    <div class="container-full">
      <div class="tabset tabset-text">
        <ul class="tabset-list tabset-sm">
          <li class="tabset-item">
            <a class="tabset-link active" href="javascript:void(0)"><span>브랜드스토리</span></a>
          </li>
          <li class="tabset-item">
            <a class="tabset-link" href="javascript:void(0)"><span>층별안내</span></a>
          </li>
          <li class="tabset-item">
            <a class="tabset-link" href="javascript:void(0)"><span>갤러리</span></a>
          </li>
          <li class="tabset-item">
            <a class="tabset-link" href="javascript:void(0)"><span>멤버쉽안내</span></a>
          </li>
          <li class="tabset-item">
            <a class="tabset-link" href="javascript:void(0)"><span>오시는길</span></a>
          </li>
        </ul>
        <div class="tabset-container">
          <div class="tabset-cont active">
            <div class="cardset cardset-full">
              <figure class="cardset-figure">
                <img class="cardset-img" src="https://picsum.photos/id/20/400/300" alt="이미지">
              </figure>
            </div>
          </div>
          <div class="tabset-cont">
            <p class="p1">
              층별안내
            </p>
          </div>
          <div class="tabset-cont"> 
            <p class="p1">
              갤러리
            </p>
          </div>
          <div class="tabset-cont">
            <p class="p1">
              멤버쉽안내
            </p>
          </div>
          <div class="tabset-cont">
            <p class="p1">
              오시는길
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- //template-N15 -->

  <!-- sample-N101 -->
  <div class="sample-N101">
    <div class="container-md">
      <h3 class="title">TITLE</h3>
      <div class="tabset tabset-panel">
        <ul class="tabset-list tabset-sm">
          <li class="tabset-item">
            <a class="tabset-link" href="javascript:void(0)"><span>전체</span></a>
          </li>
          <li class="tabset-item">
            <a class="tabset-link active" href="javascript:void(0)"><span>주요기능</span></a>
          </li>
          <li class="tabset-item">
            <a class="tabset-link" href="javascript:void(0)"><span>템플릿</span></a>
          </li>
          <li class="tabset-item">
            <a class="tabset-link" href="javascript:void(0)"><span>요금</span></a>
          </li>
          <li class="tabset-item">
            <a class="tabset-link" href="javascript:void(0)"><span>고객지원</span></a>
          </li>
        </ul>
        <div class="tabset-container">
          <div class="tabset-cont">
            <p class="p1">
              1. 템플릿하우스는 코딩을 가장쉽고 빠르게 만들 수 있습니다. <br>원하는 블록을 가져다 놓기만 하세요. 시간 단축, 업무생산성을 높여줍니다.
            </p>
          </div>
          <div class="tabset-cont active">
            <p class="p1">
              2. 템플릿하우스는 코딩을 가장쉽고 빠르게 만들 수 있습니다. <br>원하는 블록을 가져다 놓기만 하세요. 시간 단축, 업무생산성을 높여줍니다.
            </p>
          </div>
          <div class="tabset-cont">
            <p class="p1">
              3. 템플릿하우스는 코딩을 가장쉽고 빠르게 만들 수 있습니다. <br>원하는 블록을 가져다 놓기만 하세요. 시간 단축, 업무생산성을 높여줍니다.
            </p>
          </div>
          <div class="tabset-cont">
            <p class="p1">
              4. 템플릿하우스는 코딩을 가장쉽고 빠르게 만들 수 있습니다. <br>원하는 블록을 가져다 놓기만 하세요. 시간 단축, 업무생산성을 높여줍니다.
            </p>
          </div>
          <div class="tabset-cont">
            <p class="p1">
              5. 템플릿하우스는 코딩을 가장쉽고 빠르게 만들 수 있습니다. <br>원하는 블록을 가져다 놓기만 하세요. 시간 단축, 업무생산성을 높여줍니다.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- //sample-N101 -->

  <!-- template-N2 -->
  <div class="template-N2">
    <div class="footer-wrapper">
      <div class="footer-container">
        <ul class="footer-menulist">
          <li class="footer-menuitem">
            <a href="javascript:void(0)">
              <span>이용약관</span>
            </a>
          </li>
          <li class="footer-menuitem">
            <a href="javascript:void(0)">
              <span>개인정보처리방침</span>
            </a>
          </li>
          <li class="footer-menuitem">
            <a href="javascript:void(0)">
              <span>이메일무단수집금지</span>
            </a>
          </li>
        </ul>
        <ul class="footer-snslist">
          <li class="footer-snsitem">
            <a class="footer-snslink" href="javascript:void(0)">
              <img src="../resources/icons/ico_instagram_lightgrey.svg" alt="인스타그램">
            </a>
          </li>
          <li class="footer-snsitem">
            <a class="footer-snslink" href="javascript:void(0)">
              <img src="../resources/icons/ico_youtube_lightgrey.svg" alt="유튜브">
            </a>
          </li>
          <li class="footer-snsitem">
            <a class="footer-snslink" href="javascript:void(0)">
              <img src="../resources/icons/ico_facebook_lightgrey.svg" alt="페이스북">
            </a>
          </li>
          <li class="footer-snsitem">
            <a class="footer-snslink" href="javascript:void(0)">
              <img src="../resources/icons/ico_kakao_lightgrey.svg" alt="카카오톡">
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-wrapper">
      <div class="footer-container">
        <div class="footer-left">
          <h1 class="footer-logo">
            <a href="javascript:void(0)">
              <img src="../resources/images/img_logo_lightgray.png" alt="로고">
            </a>
          </h1>
          <div class="footer-txtgroup">
            <div class="footer-txt">
              <p>
                서울시 영등포구 선유로70 우리벤처타운2 705호
              </p>
              <p>
                <span>T. 070-8872-8874</span>
                <span>E. help@openfield.co.kr</span>
              </p>
            </div>
            <div class="footer-txt">
              <p>2022 BY TEMPLATEHOUSE. ALL RIGHTS RESEVED</p>
            </div>
          </div>
        </div>
        <div class="selectset selectset-sm">
          <button class="selectset-toggle btn" type="button">
            <span>Family Site</span>
          </button>
          <ul class="selectset-list">
            <li class="selectset-item">
              <button class="selectset-toggle btn" type="button">
                <span>Family Site</span>
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- //sample-N14 -->

  <!-- script -->
  <script src="../resources/js/plugin.js"></script>
  <script src="../resources/js/template.js"></script>
  <script src="../resources/js/block.js"></script>
  <!-- //script -->
</body>

</html>